<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="ORIX Capital keywords">
    <meta name="description" content="ORIX Capital description">

    <meta property="og:locale" content="ko_KR" />
    <meta property="og:type" content="website" />

    <title>견적내기 > 렌터카 견적내기</title>

    <link href="../../resources/css/lib/default.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/lib/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/ui/ui_common.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/lib/img.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/ui/media-query.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="../../resources/js/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/ui_common.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/ui_plugin.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/default.js"></script>

</head>
<body>
    <!-- S: skipnavi -->
    <div id="skipnavi">
        <script>
            $(document).ready(function(){
                $("#skipnavi").load("../INCLUDE/inc_skipnavi.html");
            });
        </script>
    </div>
    <!-- E: skipnavi -->
    <div class="wrap">
        <!-- s:header -->
        <div id="headerWrap">
            <script>
                $(document).ready(function(){
                    $("#headerWrap").load("../INCLUDE/inc_header.html");
                });
            </script>
        </div>
        <!-- //e:header -->
         <!-- s:contentWrap -->
        <div id="contentWrap" class="sub-content">
            <!-- s:subvisual-wrap -->
            <div class="subvisual-wrap">
                <div class="breadcrumb-wrap">
                    <ul>
                        <li class="home"><a href="javascript:void(0);">홈</a></li>
                        <li><a href="javascript:void(0);">견적내기</a></li>
                        <li><a href="javascript:void(0);">렌터카 견적내기</a></li>
                    </ul>
                </div>
                <div class="text-wrap">
                    <h2>렌터카 견적내기</h2>
                </div>
            </div>
            <!-- //e:subvisual-wrap -->
            <!-- s:contents -->
            <div class="contents">
                <form>
                    <section>
                        <div class="grid-list-wrap style2">
                            <p class="grid-list-header">탁송정보 선택</p>
                            <div  id="deliveryInfo" class="grid-list-body style2">
                                <ul>
                                    <li>
                                        <span class="tit">탁송방법</span>
                                        <div class="form-group">
                                            <div class="select-box">
                                                <div class="stove-dim"></div>
                                                <div class="se-select ei-w160" data-stove="select">
                                                    <select class="" title="메뉴구분">
                                                        <option value="" disabled="" selected="" hidden="">탁송방법 선택</option><!-- [D] : default - 셀렉트의 placeholder 기능-->
                                                        <option value="0">외주탁송(1차+2차)</option>
                                                        <option value="1">제조사+외주 2차</option>
                                                        <option value="2">제조사탁송</option><!-- [D]:특판출고 시 제조사탁송 불가처리 -->
                                                    </select>
                                                    <div class="e-select-dim"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="tit">출고지</span>
                                        <div><span class="change-txt">차량을 먼저 선택해 주세요</span></div>
                                    </li>
                                    <!--s :외주탁송 포함된 경우 -->
                                    <li>
                                        <span class="tit">도착지</span>
                                        <div class="form-group">
                                            <div class="select-box">
                                                <div class="stove-dim"></div>
                                                <div class="se-select ei-w160" data-stove="select">
                                                    <select class="" title="메뉴구분">
                                                        <option value="" disabled="" selected="" hidden="">도착지 선택</option><!-- [D] : default - 셀렉트의 placeholder 기능-->
                                                        <option value="0">서울</option>
                                                        <option value="1">경기 남부</option>
                                                        <option value="2">경기 북부</option>
                                                        <option value="3">인천</option>
                                                        <option value="4">강원 강릉</option>
                                                        <option value="5">충북 청주</option>
                                                        <option value="6">충남 대전</option>
                                                        <option value="7">경북 대구</option>
                                                        <option value="8">경남 부산</option>
                                                        <option value="9">전북 전주</option>
                                                        <option value="10">전남 광주</option>
                                                        <option value="11">제주</option>
                                                        <option value="12">번호판 퀵배송(수도권)</option>
                                                        <option value="13">번호판 퀵배송(지방)</option>
                                                    </select>
                                                    <div class="e-select-dim"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="num">
                                        <span class="tit">외주 탁송료</span>
                                        <div class="change-txt num"><span>0</span>원</div>
                                    </li>
                                    <!--E :외주탁송 포함된 경우 -->
                                </ul>
                            </div>
                            <script>//개발 스크립트 추가
                                $(document).ready(function () {
                                    function deliveryEvent() {
                                        var deliType = $("#deliveryInfo select").eq(0).val();
                                        var toArea = $("#deliveryInfo select").eq(1).val();
                                        
                                        if (deliType == "2") {
                                            $("#deliveryInfo li").eq(2).hide(); // Hide 도착지
                                            $("#deliveryInfo li").eq(3).hide();   // Hide 외주 탁송료
                                        } else {
                                            $("#deliveryInfo li").eq(2).show();  // Show 도착지
                                            $("#deliveryInfo li").eq(3).show();    // Show 외주 탁송료
                                        }
                                    }

                                    deliveryEvent();

                                    $("#deliveryInfo select").change(function() {
                                        deliveryEvent();
                                    });

                                    var target = document.getElementById("deliveryInfo");
                                    var observer = new MutationObserver(function(mutations) {
                                        mutations.forEach((mutation) => {
                                            if(mutation.target.getAttribute("data-status") != "open") {
                                                deliveryEvent();
                                            }
                                        });
                                    });
                                    
                                    observer.observe(target, {
                                        attributes: true,
                                        childList: true,
                                        subtree: true
                                    });
                                });
                            </script>
                        </div>
                    </section>
                </form>
            </div>
            <!-- //e:contents -->
            <!--s: scrollTop-->
            <button class="btn btn-top" type="button"><span class="ir">탑버튼</span></button>
            <!--//e: scrollTop-->
        </div>
        <!-- //e:contentWrap -->
        <!-- s:footer -->
        <div id="footerWrap">
            <script>
                $(document).ready(function(){
                    $("#footerWrap").load("../INCLUDE/inc_footer.html");
                });
            </script>
        </div>
        <!-- //e:footer -->
    </div>
    <!-- 브랜드/모델/세부차종/트림 -->
    <div id="PopUp01" class="layerpopup laypop" tabindex="0">
        <div class="content-wrap">
            <div class="pop-header">
                <h3 class="pop-title">차량선택</h3>
                <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
            </div>
            <div class="ly-con-wrap ly-scroll-con">
                <div class="choose-wrap">
                    <div class="choose-group brand">
                        <div class="popup-text-wrap style2">
                            <h4>브랜드 선택</h4>
                        </div>
                        <ul class="choose image btnSelect">
                            <li class="on hyu"><button type="button">현대</button></li>
                            <li class="gen"><button type="button">제네시스</button></li>
                            <li class="kia"><button type="button">기아</button></li>
                            <li class="che"><button type="button">쉐보레</button></li>
                            <li class="ren"><button type="button">르노코리아</button></li>
                            <li class="gmc"><button type="button">GMC</button></li>
                            <li class="kgm"><button type="button">KGM</button></li>
                            <li class="dea"><button type="button">대창모터스</button></li>
                            <li class="toy"><button type="button">토요타</button></li>
                            <li class="lex"><button type="button">렉서스</button></li>
                            <li class="hon"><button type="button">혼다</button></li>
                            <li class="benz"><button type="button">벤츠</button></li>
                            <li class="bmw"><button type="button">BMW</button></li>
                            <li class="aud"><button type="button">아우디</button></li>
                            <li class="vol"><button type="button">폭스바겐</button></li>
                            <li class="min"><button type="button">미니</button></li>
                            <li class="volv"><button type="button">볼보</button></li>
                            <li class="pol"><button type="button">폴스타</button></li>
                            <li class="por"><button type="button">포르쉐</button></li>
                            <li class="fer"><button type="button">페라리</button></li>
                            <li class="lam"><button type="button">람보르기니</button></li>
                            <li class="mas"><button type="button">마세라티</button></li>
                            <li class="mcl"><button type="button">멕라렌</button></li>
                            <li class="ast"><button type="button">에스터마틴</button></li>
                            <li class="peu"><button type="button">푸조</button></li>
                            <li class="ds"><button type="button">DS</button></li>
                            <li class="ben"><button type="button">벤틀리</button></li>
                            <li class="rol"><button type="button">롤스로이스</button></li>
                            <li class="ine"><button type="button">이네오스</button></li>
                            <li class="cor"><button type="button">코릭세그</button></li>
                            <li class="lin"><button type="button">링컨</button></li>
                            <li class="jee"><button type="button">지프</button></li>
                            <li class="cad"><button type="button">캐딜락</button></li>
                            <li class="for"><button type="button">포드</button></li>
                            <li class="tes"><button type="button">테슬라</button></li>
                            <li class="riv"><button type="button">리비안</button></li>
                            <li class="fis"><button type="button">피스커</button></li>
                            <li class="byd"><button type="button">BYD</button></li>
                            <li class="vin"><button type="button">빈페스트</button></li>
                            <li class="luc"><button type="button">루시드</button></li>
                        </ul>
                    </div>

                    <div class="choose-group">
                        <div class="popup-text-wrap style2">
                            <h4>모델 선택</h4>
                        </div>
                        <!-- <div class="first-choose">
                            <p>브랜드를 먼저 선택해 주세요</p>
                        </div> -->
                        <ul class="choose btnSelect">
                            <li><button type="button">i30</button></li>
                            <li><button type="button">i40</button></li>
                            <li class="on"><button type="button">그랜저</button></li>
                            <li><button type="button">그레이스</button></li>
                            <li><button type="button">넥쏘</button></li>
                            <li><button type="button">맥스크루즈</button></li>
                            <li><button type="button">베뉴</button></li>
                            <li><button type="button">베라크루즈</button></li>
                            <li><button type="button">베르나</button></li>
                            <li><button type="button">벨로스터</button></li>
                            <li><button type="button">스타렉스</button></li>
                            <li><button type="button">싼타페</button></li>
                            <li><button type="button">쏘나타</button></li>
                            <li><button type="button">쏠라티</button></li>
                            <li><button type="button">아반떼</button></li>
                            <li><button type="button">아솔란</button></li>
                            <li><button type="button">아이오닉</button></li>
                            <li><button type="button">에쿠스</button></li>
                            <li><button type="button">엑센트</button></li>
                            <li><button type="button">제네시스</button></li>
                            <li><button type="button">카운티</button></li>
                            <li><button type="button">캐스퍼</button></li>
                            <li><button type="button">코나</button></li>
                            <li><button type="button">투싼</button></li>
                        </ul>
                    </div>
                    <div class="choose-group">
                        <div class="popup-text-wrap style2">
                            <h4>세부차종 선택</h4>
                        </div>
                        <!-- <div class="first-choose">
                            <p>모델을 먼저 선택해 주세요</p>
                        </div> -->
                        
                        <div class="mySwiper">
                            <div class="swiper-wrapper btnSelect">
                                <div class="swiper-slide">
                                    <button type="button">
                                        <div class="img-box">
                                            <img src="../../resources/images/car/hd_d_a_n_g_h.png" alt="디 올 뉴 그랜저 하이브리드 이미지">
                                        </div>
                                        <span>2025</span>
                                        <p class="tit">디 올 뉴 그랜저 하이브리드</p>
                                    </button>
                                </div>
                                <div class="swiper-slide">
                                    <button type="button">
                                        <div class="img-box">
                                            <img src="../../resources/images/car/hd_d_a_n_g_h.png" alt="디 올 뉴 그랜저 하이브리드 이미지">
                                        </div>
                                        <span>2023</span>
                                        <p class="tit">디 올 뉴 그랜저 하이브리드</p>
                                    </button>
                                </div>
                                <div class="swiper-slide">
                                    <button type="button">
                                        <div class="img-box">
                                            <img src="../../resources/images/car/hd_d_a_n_g_h.png" alt="더 뉴 그랜저 LG LPG 이미지">
                                        </div>
                                        <span>2023</span>
                                        <p class="tit">더 뉴 그랜저 LG LPG</p>
                                    </button>
                                </div>
                                <div class="swiper-slide">
                                    <button type="button">
                                        <div class="img-box">
                                            <img src="../../resources/images/car/hd_d_a_n_g_h.png" alt="디 올 뉴 그랜저 하이브리드 이미지">
                                        </div>
                                        <span>2022</span>
                                        <p class="tit">디 올 뉴 그랜저 하이브리드</p>
                                    </button>
                                </div>
                                <div class="swiper-slide">
                                    <button type="button">
                                        <div class="img-box">
                                            <img src="../../resources/images/car/hd_d_a_n_g_h.png" alt="디 올 뉴 그랜저 하이브리드 이미지">
                                        </div>
                                        <span>2022</span>
                                        <p class="tit">디 올 뉴 그랜저 하이브리드</p>
                                    </button>
                                </div>
                                <div class="swiper-slide">
                                    <button type="button">
                                        <div class="img-box">
                                            <img src="../../resources/images/car/hd_d_a_n_g_h.png" alt="디 올 뉴 그랜저 하이브리드 이미지">
                                        </div>
                                        <span>2022</span>
                                        <p class="tit">디 올 뉴 그랜저 하이브리드</p>
                                    </button>
                                </div>
                                <div class="swiper-slide">
                                    <button type="button">
                                        <div class="img-box">
                                            <img src="../../resources/images/car/hd_d_a_n_g_h.png" alt="디 올 뉴 그랜저 하이브리드 이미지">
                                        </div>
                                        <span>2022</span>
                                        <p class="tit">디 올 뉴 그랜저 하이브리드</p>
                                    </button>
                                </div>
                                <div class="swiper-slide">
                                    <button type="button">
                                        <div class="img-box">
                                            <img src="../../resources/images/car/hd_d_a_n_g_h.png" alt="디 올 뉴 그랜저 하이브리드 이미지">
                                        </div>
                                        <span>2022</span>
                                        <p class="tit">디 올 뉴 그랜저 하이브리드</p>
                                    </button>
                                </div>
                                <div class="swiper-slide">
                                    <button type="button">
                                        <div class="img-box">
                                            <img src="../../resources/images/car/hd_d_a_n_g_h.png" alt="디 올 뉴 그랜저 하이브리드 이미지">
                                        </div>
                                        <span>2022</span>
                                        <p class="tit">디 올 뉴 그랜저 하이브리드</p>
                                    </button>
                                </div>
                                <div class="swiper-slide">
                                    <button type="button">
                                        <div class="img-box">
                                            <img src="../../resources/images/car/hd_d_a_n_g_h.png" alt="디 올 뉴 그랜저 하이브리드 이미지">
                                        </div>
                                        <span>2022</span>
                                        <p class="tit">디 올 뉴 그랜저 하이브리드</p>
                                    </button>
                                </div>
                                <div class="swiper-slide">
                                    <button type="button">
                                        <div class="img-box">
                                            <img src="../../resources/images/car/hd_d_a_n_g_h.png" alt="디 올 뉴 그랜저 하이브리드 이미지">
                                        </div>
                                        <span>2022</span>
                                        <p class="tit">디 올 뉴 그랜저 하이브리드</p>
                                    </button>
                                </div>
                                <div class="swiper-slide">
                                    <button type="button">
                                        <div class="img-box">
                                            <img src="../../resources/images/car/hd_d_a_n_g_h.png" alt="디 올 뉴 그랜저 하이브리드 이미지">
                                        </div>
                                        <span>2022</span>
                                        <p class="tit">디 올 뉴 그랜저 하이브리드</p>
                                    </button>
                                </div>
                                <div class="swiper-slide">
                                    <button type="button">
                                        <div class="img-box">
                                            <img src="../../resources/images/car/hd_d_a_n_g_h.png" alt="디 올 뉴 그랜저 하이브리드 이미지">
                                        </div>
                                        <span>2022</span>
                                        <p class="tit">디 올 뉴 그랜저 하이브리드</p>
                                    </button>
                                </div>
                            </div>
                            <div class="navigation-wrapper">
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                    </div>
                    <div class="choose-group form-wrap">
                        <div class="popup-text-wrap style2">
                            <h4>트림 선택</h4>
                        </div>
                        <!-- <div class="first-choose">
                            <p>세부차종을 먼저 선택해 주세요</p>
                        </div> -->
                        <div class="form-group radio">
                            <ul class="radio-box">
                                <li>
                                    <input type="radio" id="radio-9" name="trim" checked>
                                    <label for="radio-9" class="radio-button"><span>1.6 익스클루시브 [5인승]1.6 익스클루시브 [5인승]1.6 익스클루시브 [5인승]1.6 익스클루시브 [5인승]</span><p class="num"><span>0</span>원</p></label>
                                </li>
                                <li>
                                    <input type="radio" id="radio-10" name="trim">
                                    <label for="radio-10" class="radio-button"><span>1.6 켈리그래피 [5인승]</span><p class="num"><span>0,000,000</span>원</p></label>
                                </li>
                                <li>
                                    <input type="radio" id="radio-11" name="trim">
                                    <label for="radio-11" class="radio-button"><span>1.6 켈리그래피 블랙 익스테리어 [5인승]</span><p class="num"><span>0</span>원</p></label>
                                </li>
                                <li>
                                    <input type="radio" id="radio-12" name="trim">
                                    <label for="radio-12" class="radio-button"><span>1.6 켈리그래피 블랙 잉크 [5인승]</span><p class="num"><span>0</span>원</p></label>
                                </li>
                                <li>
                                    <input type="radio" id="radio-13" name="trim">
                                    <label for="radio-13" class="radio-button"><span>1.6 프리미엄 [5인승]</span><p class="num"><span>0,000,000</span>원</p></label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-wrap popup">
                <!-- [D]:트림까지 선택 시 disabled 클래스 삭제 -->
                <button type="button" name="button" class="btn btn-bottom disabled">선택</button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../resources/js/lib/swiper-bundle.min.js"></script>
</body>

</html>