<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="ORIX Capital keywords">
    <meta name="description" content="ORIX Capital description">

    <meta property="og:locale" content="ko_KR" />
    <meta property="og:type" content="website" />

    <link href="../../resources/css/default.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/ui_common.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/img.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/media-query.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/main.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="../../resources/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../resources/js/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript" src="../../resources/js/ui_common.js"></script>
    <script type="text/javascript" src="../../resources/js/ui_plugin.js"></script>
    <script type="text/javascript" src="../../resources/js/default.js"></script>

</head>

<body>
    <div id="skipnavi"></div>
    <script>
        $(document).ready(function () {
            $("#skipnavi").load("./INCLUDE/inc_skipnavi.html");
        });
    </script>
    </div>
    <div class="wrap mainWrap">
        <!-- s:header -->
        <div id="headerWrap">
            <script>
                $(document).ready(function () {
                    $("#headerWrap").load("./INCLUDE/inc_header.html");
                });
            </script>
        </div>
        <!-- //e:header -->
        <!-- s:contentWrap -->
        <div id="contentWrap" class="sub-content">
            <!-- s:contents -->
            <div class="contents">
                <!-- <section class="mainSec-wrap01">
                    <div class="inner">
                        <div class="mainInfo-area">
                            <ul>
                                <li>
                                    <span><em>신차 영업관리 플랫폼</em></span>
                                    <strong class="tit"><span>오릭스캐피탈 코리아</span></strong>
                                    <span>모든 업무를 한눈에<br/>견적서를 작성하고 나의 업무를 관리해 보세요!</span>
                                </li>
                            </ul>
                        </div>

                        <div class="mainGoto-area">
                            <div class="btn-wrap">
                                <button type="button" name="렌터카 버튼"></button>
                                <button type="button" name="오토리스"></button>
                            </div>
                            <ul>
                                <li><a href="#none">선구매 견적내기</a></li>
                                <li><a href="#none">실적조회</a></li>
                                <li><a href="#none">자료실</a></li>
                                <li><a href="#none">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                </section> -->
            
            
                <section class="mainSec-wrap05">
                    <div class="introNews-area">
                        <ul class="intro-tit tab-item"><!--[D] [공통] tab-item 클래스 : 탭 스크립트-->
                            <li data-tab="tab1" class="on"><a class="#none"><h2>공지사항</h2></a></li>
                            <li data-tab="tab2"><a class="#none"><h2>자료실</h2></a></li>
                        </ul>
                        
                        <div class="intro-con">
                            <div id="tab1" class="tab-content"><!--[D] [공통] tab-content 클래스 : 탭 스크립트-->
                                <ul>
                                    <li>
                                        <a href="#none">
                                            <span class="txt">공지사항 제목이 최대 1줄까지 노출되고 말줄임 처리 공지사항 제목이 최대 1줄까지 노출되고 말줄임 처리</span><span class="date">2024.08.26</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#none">
                                            <span class="txt">공지사항 제목이 최대 1줄까지 노출되고 말줄임 처리 공지사항 제목이 최대 1줄까지 노출되고 말줄임 처리</span><span class="date">2024.08.26</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#none">
                                            <span class="txt">공지사항 제목이 최대 1줄까지 노출되고 말줄임 처리 공지사항 제목이 최대 1줄까지 노출되고 말줄임 처리</span><span class="date">2024.08.26</span>
                                        </a>
                                    </li>
                                </ul>
                                <button class="btn btn-text medium" name="공지사항 더보기 버튼">더보기</button>
                            </div>
                            <div id="tab2" class="tab-content dp-none"><!--[D] [공통] tab-content 클래스 : 탭 스크립트-->
                                <ul>
                                    <li>
                                        <a href="#none">
                                            <span class="txt">자료실 제목이 최대 1줄까지 노출되고 말줄임 처리 자료실 제목이 최대 1줄까지 노출되고 말줄임 처리</span><span class="date">2024.08.26</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#none">
                                            <span class="txt">자료실 제목이 최대 1줄까지 노출되고 말줄임 처리 자료실 제목이 최대 1줄까지 노출되고 말줄임 처리</span><span class="date">2024.08.26</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#none">
                                            <span class="txt">자료실 제목이 최대 1줄까지 노출되고 말줄임 처리 자료실 제목이 최대 1줄까지 노출되고 말줄임 처리</span><span class="date">2024.08.26</span>
                                        </a>
                                    </li>
                                </ul>
                                <button class="btn btn-text medium" name="자료실 더보기 버튼">더보기</button>
                            </div>
                        </div>
                    </div>
                    <div class="introFaq-area">
                        <div class="intro-tit">
                            <h2>Faq</h2>
                        </div>
                        <div class="intro-con">
                            <ul>
                                <li>
                                    <a href="#none">
                                        <span class="txt">자주 묻는 질문 제목이 최대 1출까지 노축되고 말줄임…</span><span class="date">2024.08.26</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#none">
                                        <span class="txt">렌터카 견적서는 어떻게 작성하나요?</span><span class="date">2024.08.26</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#none">
                                        <span class="txt">렌터가와 오토리스 수수료는 어떻게 되나요?</span><span class="date">2024.08.26</span>
                                    </a>
                                </li>
                            </ul>
                            <button class="btn btn-text medium" name="자료실 더보기 버튼">더보기</button>
                        </div>
                    </div>
                </section>
            </div>
            <!-- //e:contents -->
            <!--s: scrollTop-->
            <button class="btn btn-top" type="button"><span class="ir">탑버튼</span></button>
            <!--//e: scrollTop-->
        </div>
        <!-- //e:contentWrap -->
        <!-- s:footer -->
        <div id="footerWrap">
            <script>
                $(document).ready(function () {
                    $("#footerWrap").load("./INCLUDE/inc_footer.html");
                });
            </script>
        </div>
        <!-- //e:footer -->
    </div>
</body>

</html>