<footer class="footer-wrap">
    <div class="footer">
        <div class="btn-wrap policy-link">
            <a href="javascript:void(0);" class="btn btn-text">고객확인의무제도</a>
            <a href="javascript:void(0);" class="btn btn-text">고객정보취급방침</a>
            <a href="javascript:void(0);" class="btn btn-text">본인정보이용제공동의</a>
            <a href="javascript:void(0);" class="btn btn-text">금융소비자보호헌장 및 체계</a>
        </div>
        <div class="list-wrap">
            <ul class="address">
                <li>06210 서울시 강남구 테헤란로 306(역삼동) 카이트타워 13층</li>
                <li>
                    <span>대표이사 : 정성윤</span>
                    <span>사업자등록번호 : 120-86-63282</span>
                </li>
            </ul>
            <p class="Copyright">Copyright(C) ALL Right Reserved.</p>
        </div>
        <div class="form-wrap">
            <div class="form-group">
                <div class="form-row">
                    <div class="select-wrap col">
                        <button class="btn-select">Family Site</button>
                        <div class="select-list">
                            <ul>
                                <li><button type="button">선택사항 1번</button></li>
                                <li><button type="button" class="select">선택사항 2번</button></li>
                                <!--기본값-->
                                <li><button type="button">선택사항 3번</button></li>
                                <li><button type="button">선택사항 4번</button></li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn btn-input" type="button">버튼명</button>
                </div>
            </div>
        </div>
    </div>
</footer>