<div class="top">
    <div>
        <h1>
            <a href="javascript:void(0);">
                <img src="../../resources/images/logo.png" alt="오릭스캐피탈코리아">
            </a>
        </h1>
    </div>
</div>
<div class="h-menu">
    <div>
        <ul class="menu col04">
            <li>
                <!-- menu 1depth -->
                <a href="javascript:void(0);">견적내기</a>
                <!-- menu 2depth -->
                <div class="menuitem-wrap">
                    <ul class="menuitem">
                        <li><a href="#javascript:void(0);">렌터카 견적내기</a></li>
                        <li><a href="#javascript:void(0);">오토리스 견적내기</a></li>
                        <li><a href="#javascript:void(0);">선구매</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="javascript:void(0);">현황조회</a>
                <div class="menuitem-wrap">
                    <ul class="menuitem">
                        <li><a href="#javascript:void(0);">견적</a></li>
                        <li><a href="#javascript:void(0);">심사</a></li>
                        <li><a href="#javascript:void(0);">발주</a></li>
                        <li><a href="#javascript:void(0);">펀딩</a></li>
                        <li><a href="#javascript:void(0);">인도</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="javascript:void(0);">고객센터</a>
                <div class="menuitem-wrap">
                    <ul class="menuitem">
                        <li><a href="#javascript:void(0);">공지사항</a></li>
                        <li><a href="#javascript:void(0);">자료실</a></li>
                        <li><a href="../SERVICE/ORIX-NCR-QNA-001.html">QnA</a></li>
                        <li><a href="https://ev.or.kr/nportal/buySupprt/initBuySubsidySupprtAction.do" target="_blank">전기차보조금</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="javascript:void(0);">마이페이지</a>
                <div class="menuitem-wrap">
                    <ul class="menuitem">
                        <li>
                            <a href="#javascript:void(0);">실적조회</a>
                            <ul class="sub-menuitem bul-dot">
                                <li><a href="#javascript:void(0);">나의실적</a></li>
                                <li><a href="#javascript:void(0);">팀실적조회</a></li>
                            </ul>
                        </li>
                        <li><a href="#javascript:void(0);">비밀번호변경</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="menu-r">
            <li><a href="#javascript:void(0);">오릭스캐피탈 강남지점 <span>오릭스(orix)</span>님</a> 환영합니다.</li>
            <li><button href="#javascript:void(0);" class="btn btn-logout">로그아웃</button></li>
        </ul>
    </div>
    <div class="nav-btn">
        <a href="javascript:void(0);" class="ham">
            <img src="../../resources/images/nav_btn.png" alt="메뉴아이콘">
        </a>
        <a href="javascript:void(0);" class="close">
            <img src="../../resources/images/close.png" alt="닫기버튼">
        </a>
    </div>
</div>

<script>
    $(document).ready(function () {
        //스크롤시 헤더 fix
        var $lnb = $(".h-menu");
        $(window).scroll(function () {

            if ($(this).scrollTop() > 0) {
                $lnb.addClass("fix");
            } else {
                $lnb.removeClass("fix");
            }
        });

        // gnb action
        $(".menu > li").on('click', function(e) {
            var targetLink = $(e.target).attr('href');

            // 실제 링크가 있을 경우, 링크를 그대로 이동하게 함
            if (targetLink && targetLink !== "javascript:void(0);") {

                // 새 창을 열도록 지정된 링크일 경우 메뉴 접기
                if ($(e.target).attr('target') === '_blank') {
                    // 메뉴 접기
                    $(".menu > li, .menuitem-wrap").removeClass('on');
                }

                return;  // 링크 이동 후 더 이상 동작하지 않음
            }

            e.preventDefault();

            var $menu = $(this).not($siblingsMenu);
            var $siblingsMenu = $(this).siblings();
            var $thisMenuWrap = $(this).children().siblings(".menuitem-wrap");
            var $otherMenuWraps = $(".menuitem-wrap").not($thisMenuWrap);

            // $menu 클릭 했을 때
            $menu.toggleClass('on');
            $siblingsMenu.removeClass('on');

            // 클릭한 메뉴만 열림, 나머지는 닫힘
            $thisMenuWrap.toggleClass('on');
            $otherMenuWraps.removeClass('on');
        });

        // 메뉴 외 영역 클릭 시 메뉴 닫기
        $(document).on('click', function(e) {
            if (!$(e.target).closest('.menu').length) {
                $(".menu > li, .menuitem-wrap").removeClass('on');
            }
        });

        // 전체메뉴 아이콘 클릭 시
        // $(".btnMenu").click(function () {
        //     $(".right-menu > div").hide();
        //     $(".menu-part").show();

        //     $("body").css("overflow", "hidden");
        // });

        // $(".menu-con > .close").click(function () {
        //     $(".menu-part").hide();
        //     $("body").css("overflow", "");
        // });

        // // 메뉴 닫기
        // $('#menu_close_btn').click(function () {
        //     $(".right-menu > div").hide();
        //     $(".menu-part").hide();
        //     $("body").css("overflow", "visible");
        // });

        // $('.close_btn').keydown(function (e) {
        //     if (e.keyCode == 13) {
        //         $(".right-menu > div").hide();
        //         $(".menu-part").hide();
        //         $("body").css("overflow", "visible");
        //     }
        // });


        // 검색 아이콘 클릭시
        // $(".btnSearch").click(function () {
        //     $(".right-menu > div").hide();
        //     $(".search-part").show();
        // });

        // $(".search-con > .close").click(function () {
        //     $(".search-part").hide();
        //     $("body").css("overflow", "");
        // });


    });

</script>
