<div class="top-header"></div>
	<div>
	   <ul>
		<!-- <li class="login"><a href="javascript:void(0);" title="로그인">My 예가람</a></li> -->
		<li><a href="javascript:void(0);">인증센터</a></li>
		<!-- <li><a href="javascript:void(0);">금융소비자보호</a></li> -->
		<li><a href="javascript:void(0);">저축은행소개</a></li>
		<li><a href="javascript:void(0);" class="all btnMenu">전체메뉴</a></li>
	   </ul>
	</div>
</div>
<div class="btm-header">  
   <div class="">
	<h1><a href="#"><img src="../../resources/images/main/img_logo.png" alt="예가람저축은행로고"></a></h1>

	<!--D: 전체 수정 -->
	<ul class="center-menu">
		<li>
			<a href="#none;">상품공시실</a>
			<div class="gnb-sub-inner">
				<ul>
					<li class="gnb-sub-tit">상품공시실</li>
					<li>
						<ul class="gnb-2dep">
							<li>
								<a href="#">예/적금 상품</a>
								<ul class="gnb-3dep">
									<li><a href="#">전체 예·적금 상품</a></li>
									<li><a href="#">상품소개</a></li>
									<li><a href="#">예금상품금리</a></li>
								</ul>
							</li>
						</ul>
					</li>
					
					<li>
						<ul class="gnb-2dep">
							<li>
								<a href="#">대출 상품</a>
								<ul class="gnb-3dep">
									<li><a href="#">전체 대출상품</a></li>
									<li><a href="#">상품소개</a></li>
									<li><a href="#">대출상품금리</a></li>
								</ul>
							</li>
						</ul>
					</li>

					<li>
						<ul class="gnb-2dep">
							<li><a href="#">체크 카드</a></li>
							<li><a href="#">판매종료된 상품</a></li>
							<li><a href="#">모집인 수수료율</a></li>
						</ul>
					</li>

					<li>
						<ul class="gnb-2dep">
							<li><a href="#">상품공시실 이용메뉴얼</a></li>
							<li><a href="#">부대비용</a></li>
						</ul>
					</li>
					
				</ul>
			</div>
		</li>

		<li>
			<a href="#none;">소비자정보포털</a>
			<div class="gnb-sub-inner">
				<ul>
					<li class="gnb-sub-tit">소비자정보포털</li>
					<li>
						<ul class="gnb-2dep">
							<li><a href="#">금융소비자보호 체계</a></li>
							<li><a href="#">금융소비자권리</a></li>
							<li><a href="#">유용한 소비자 정보</a></li>
						</ul>
					</li>
					<li>
						<ul class="gnb-2dep">
							<li><a href="#">민원센터</a></li>
							<li><a href="#">금융소비자보호공시</a></li>
							<li><a href="#">적합성 적정성 조회</a></li>
						</ul>
					</li>
					<li>
						<ul class="gnb-2dep">
							<li><a href="#">금융소비자보호 우수사례</a></li>
							<li><a href="#">채권추심업무</a></li>
						</ul>
					</li>
					<li>
						<ul class="gnb-2dep">
							<li>
								<a href="#">금융상품가입정보</a>
								<ul class="gnb-3dep">
									<li><a href="#">예금자보호법</a></li>
									<li><a href="#">보호금융상품등록부</a></li>
									<li><a href="#">대출가이드</a></li>
									<li><a href="#">ARS 구성도</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</li>

		<li>
			<a href="#none;">고객센터</a>
			<div class="gnb-sub-inner">
				<ul>
					<li class="gnb-sub-tit">고객센터</li>
					<li>
						<ul class="gnb-2dep">
							<li><a href="#">공지사항</a></li>
							<li><a href="#">제증명서발급신청</a></li>
							<li><a href="#">온라인 서류제출</a></li>
							<li><a href="#">보안프로그램설치</a></li>
						</ul>
					</li>
					<li>
						<ul class="gnb-2dep">
							<li><a href="#">개인정보보호</a></li>
							<li><a href="#">서식 및 약관 자료실</a></li>
							<li><a href="#">공공마이데이터</a></li>
							<li><a href="#">전자약정</a></li><!-- [퍼블-2] 추가 -->
						</ul>
					</li>
					<li>
						<ul class="gnb-2dep">
							<li><a href="#">전자금융안내</a></li>
							<li><a href="#">금융계산기</a></li>
							<li><a href="#">멤버십서비스</a></li>
						</ul>
					</li>
					<li>
						<ul class="gnb-2dep">
							<li><a href="#">비금융거래정보 등록제도</a></li>
							<li><a href="#">신용조회동의</a></li>
							<li><a href="#">인증센터</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<a href="#none;">저축은행 소개</a>
			<div class="gnb-sub-inner">
				<ul>
					<li class="gnb-sub-tit">저축은행 소개</li>
					<li>
						<ul class="gnb-2dep">
							<li><a href="#">회사안내</a></li>
							<li><a href="#">흥국금융가족</a></li>
						</ul>
					</li>
					<li>
						<ul class="gnb-2dep">
							<li><a href="#">경영공시</a></li>
							<li><a href="#">영업점안내</a></li>
						</ul>
					</li>
					<li>
						<ul class="gnb-2dep">
							<li><a href="#">윤리경영</a></li>
						</ul>
					</li>
					<li>
						<ul class="gnb-2dep">
							<li><a href="#">인사채용</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</li>
		<li>
			<a href="#none;">인터넷뱅킹</a>
			<div class="gnb-sub-inner">
				<ul>
					<li class="gnb-sub-tit">인터넷뱅킹</li>
					<li>
						<ul class="gnb-2dep">
							<li><a href="#">조회</a></li>
							<li><a href="#">대출</a></li>
						</ul>
					</li>
					<li>
						<ul class="gnb-2dep">
							<li><a href="#">이체</a></li>
							<li><a href="#">공과금</a></li>
						</ul>
					</li>
					<li>
						<ul class="gnb-2dep">
							<li><a href="#">신규</a></li>
							<li><a href="#">사고신고</a></li>
						</ul>
					</li>
					<li>
						<ul class="gnb-2dep">
							<li><a href="#">해지</a></li>
							<li><a href="#">이용안내</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</li>
	 </ul>

	 <div class="right-menu">
		<button class="btnSearch" type="button"><span class="blind">검색 버튼</span></button><!-- 검색 버튼 클릭시 btnClose 클래스 추가 되면서 X버튼 뜸 -->
		
		<div class="search-part">
			<!-- s: 기획 현행화 -->
			<div class="search-con">
				<div class="close">
					<!-- <button class="close_btn"><img src="../../resources/images/main/icon_close.png" alt="닫기" /></button> -->
				</div>
				<div class="search-inner">
					<div class="search-item">
						<div class="ta-r">
							<a href="#" class="btn-finance-dictionary" title="새창 열림">금융용어사전</a><!-- [퍼블-3] 웹접근성 title 추가 -->
						</div>
						<div class="search-txt">
							<input type="text" title="검색어" id="search" name="search" placeholder="검색어를 입력해 주세요">
							<a href="#none" title="검색"><span class="blind">검색</span></a>
						</div>
					</div>
					<div class="search-item search-item-word">
						<p>인기검색어</p>
						<div class="search-btn-part">
							<ul>
								<li><a href="#">주택청약</a></li>
								<li><a href="#">대출</a></li>
								<li><a href="#">적금</a></li>
								<li><a href="#">부당산시세</a></li>
								<li><a href="#">자동이체</a></li>
								<li><a href="#">이체</a></li>
								<li><a href="#">인터넷뱅킹</a></li>
								<li><a href="#">대출상품</a></li>
								<li><a href="#">잔액증명서</a></li>
								<li><a href="#">부동산시세</a></li>
							</ul>
						</div>
					</div>
					<div class="search-item search-item-result">
						<!-- s: 검색결과 -->
						<div class="menu-con">
							<ul class="menu-inner">
								<li>
									<a href="#">상품공시</a>
									<ul class="gnb-2dep">
										<li>
											<a href="#">예/적금 상품</a>
											<ul class="gnb-3dep">
												<li><a href="#">·빠른계좌개설</a></li>
												<li>
													<a href="#">·목돈 굴리기 상품</a>
													<ul class="gnb-4dep">
														<li><a href="#">- e-회전정기예금</a></li>
														<li><a href="#">- 회전정기예금</a></li>
														<li><a href="#">- e-정기예금</a></li>
														<li><a href="#">- 정기예금</a></li>
														<li><a href="#">- e-안심 Plus 정기예금</a></li>

														<!-- [퍼블-4] 추가 -->
														<li><a href="#">- 안심 Plus 정기예금</a></li>
														<!-- //[퍼블-4] 추가 -->

														<!-- [퍼블-4] 목돈마련에 있던 거 목돈 굴리기로 이동 -->
														<li><a href="#">- 자유적립예금</a></li>
														<!-- //[퍼블-4] 목돈마련에 있던 거 목돈 굴리기로 이동 -->

														<li><a href="#">- 표지어음</a></li>
														<li><a href="#">- 퇴직연금 정기예금</a></li>
													</ul>
												</li>
												<li>
													<a href="#">·목돈 마련 상품</a>
													<ul class="gnb-4dep">
														<li><a href="#">- Hi! 예가람 e정기적금 </a></li>
														<li><a href="#">- 직장인 Plus 정기적금</a></li>
														<li><a href="#">- 예가람멤버십정기적금</a></li>
														<li><a href="#">- 2030 Start 정기적금</a></li>
														<li><a href="#">-  정기적금</a></li>
														<!-- <li><a href="#">- 자유적립예금</a></li> [퍼블-4] 위로 메뉴 이동 -->
													</ul>
												</li>
												<li>
													<a href="#">·입출금자유예금상품</a>
													<ul class="gnb-4dep">
														<li><a href="#">- e-RUN 파킹통장(예스뱅킹)</a></li>
														<li><a href="#">- RUN 파킹통장(개인/대면)</a></li>
														<li><a href="#">- RUN 파킹통장(개인사업자/대면)</a></li>
														<li><a href="#">- RUN 파킹통장(법인사업자/대면)</a></li>
														<li><a href="#">-  보통예금(입출금예금)</a></li>
													</ul>
												</li>
												<li><a href="#">·예금상품금리</a></li>
												<li><a href="#">·예금약관</a></li>
											</ul>
										</li>
										<li>
											<a href="#">대출 상품</a>
											<ul class="gnb-3dep">
												<li>
													<a href="#">·간편한도조회</a>
												</li>
												<li>
													<a href="#">·정책자금대출</a>
													<ul class="gnb-4dep">
														<li><a href="#">- 근로자햇살론</a></li><!-- [퍼블-4] 햇살론ll에서 근로자햇살론으로 상품명 변경 -->
														<li><a href="#">- 온라인햇살론</a></li>
														<li><a href="#">- 사잇돌2</a></li>
													</ul>
												</li>
												<li>
													<a href="#">·신용대출</a>
													<ul class="gnb-4dep">
														<li><a href="#">- 예스론</a></li>
														<li><a href="#">- GPS론</a></li>

														<!-- [퍼블-4] 추가 -->
														<li><a href="#">- 빅머니A</a></li>
														<li><a href="#">- 라이브T</a></li>
														<!-- //[퍼블-4] 추가 -->

														<li><a href="#">- 빅머니F론</a></li>
														<li><a href="#">- 빅머니M</a></li>
														<li><a href="#">-  라이브M</a></li>

														<!-- [퍼블-4] 추가 -->
														<li><a href="#">- 라이브A론</a></li>
														<!-- //[퍼블-4] 추가 -->
													</ul>
												</li>
												<li>
													<a href="#">·대환대출</a>
													<ul class="gnb-4dep">
														<li><a href="#">- 빅머니U론</a></li>
														<li><a href="#">- 라이브U론</a></li>
													</ul>
												</li>
												<li>
													<a href="#">·담보대출</a>
													<ul class="gnb-4dep">
														<li><a href="#">- 부동산담보대출</a></li>
														<li><a href="#">- 부동산 PF대출</a></li>
														<li><a href="#">- 자산유동화대출(ABL)</a></li>
														<li><a href="#">- 닥터론</a></li>
														<li><a href="#">-  중도금대출</a></li>
														<li><a href="#">- 스크린골프 동산담보 대출</a></li>
														<li><a href="#">- 공공임대보증금담보대출</a></li>
														<li><a href="#">- 전세보증금담보대출</a></li>
														<li><a href="#">- 유가증권담보대출</a></li>
														<li><a href="#">-  예적금담보대출</a></li>
														<li><a href="#">-  종합통장대출</a></li>
													</ul>
												</li>
												<li><a href="#">·할인어음</a></li>

												<!-- [퍼블-1] 추가 -->
												<li><a href="#">·대출상품금리</a></li>
												<li><a href="#">·여신거래약관</a></li>
												<!-- //[퍼블-1] 추가 -->

											</ul>
										</li>

										<!-- [퍼블-1] 메뉴 2dep로 수정, 상품공시실 이용매뉴얼 추가 -->
										<li><a href="#">체크카드</a></li>
										<li><a href="#">부대비용</a></li>
										<li><a href="#">판매종료된 상품</a></li>
										<li><a href="#">모집인수수료율</a></li>
										<li><a href="#">상품공시실 이용매뉴얼</a></li>
										<!-- //[퍼블-1] 메뉴 2dep로 수정, 상품공시실 이용매뉴얼 추가 -->
									</ul>
								</li>
			
								<li>
									<a href="#">소비자정보포털</a>
									<ul class="gnb-2dep">
										<li>
											<a href="#">금융소비자보호체계</a>
											<ul class="gnb-3dep">
												<li><a href="#">·금융소비자보호헌장</a></li>
												<li><a href="#">·금융소비자보호조직도</a></li>
												<li><a href="#">·상품판매준칙</a></li>
												<li><a href="#">·상품개발준칙</a></li>
												<li><a href="#">·민원처리프로세스</a></li>
											</ul>
										</li>
										<li>
											<a href="#">민원센터</a>
											<ul class="gnb-3dep">
												<li><a href="#">·온라인상담센터</a></li>
												<li><a href="#">·고객의견(칭찬/불만)</a></li>
												<li><a href="#">·고객제안</a></li>

												<!-- [퍼블-1] 추가 -->
												<li><a href="#">·전자민원신청</a></li>
												<!-- //[퍼블-1] 추가 -->

												<li><a href="#">·전자민원 신청내역 조회/취하</a></li>
												<li><a href="#">·민원사무편람</a></li>
											</ul>
										</li>
										<li>
											<a href="#">금융소비자권리</a>
											<ul class="gnb-3dep">
												<li><a href="#">·위법계약해지권</a></li>
												<li><a href="#">·청약철회권</a></li>
												<li><a href="#">·금리인하요구권</a></li>
												<li><a href="#">·자료열람요구권</a></li>
												<li><a href="#">·연락금지요구권</a></li>
											</ul>
										</li>
										<li>
											<a href="#">금융소비자보호공시</a>
											<ul class="gnb-3dep">
												<li><a href="#">·민원공시</a></li>
												<li><a href="#">·금융소비자보호실태평가</a></li>
												<li><a href="#">·지급정지관련 공시</a></li>
												<li><a href="#">·채권소멸관련공시</a></li>
											</ul>
										</li>
										<li>
											<a href="#">금융상품가입정보</a>
											<ul class="gnb-3dep">
												<li><a href="#">·예금자보호법</a></li>
												<li><a href="#">·보호금융상품등록부</a></li>
												<li>
													<a href="#">·대출가이드</a>
													<!-- <ul class="gnb-4dep">
														<li><a href="#">- 대출방법안내</a></li>
														<li><a href="#">- 대출준비서류</a></li>
													</ul> 240705 한 페이지로 -->
												</li>
												<li><a href="#">·ARS 구성도</a></li>
											</ul>
										</li>

										<!-- [퍼블-1] 추가 -->
										<li>
											<a href="#">채권추심업무</a>
											<ul class="gnb-3dep">
												<li><a href="#">·채권추심업무 처리절차 안내문</a></li>
												<li><a href="#">·불법채권추심 대응요령</a></li>
												<li><a href="#">·소멸시효 완성채권 추심관련<br>금융소비자 유의사항</a></li>
											</ul>
										</li>
										<li><a href="#">유용한 소비자 정보</a></li>
										<li><a href="#">금융소비자보호 우수사례</a></li>
										<li><a href="#">적합성·적정성 조회</a></li>
										<!-- //[퍼블-1] 추가 -->

									</ul>
								</li>

								<!-- [퍼블-1] 고객센터, 저축은행소개 순서 이동 & 메뉴 이동 -->
								<li>
									<a href="#">저축은행소개</a>
									<ul class="gnb-2dep">
										<li>
											<a href="#">회사안내</a>
											<ul class="gnb-3dep">
												<li><a href="#">·대표이사인사말</a></li>
												<li><a href="#">·연혁</a></li>
												<li><a href="#">·경영이념</a></li>
												<li><a href="#">·조직도</a></li>
											</ul>
										</li>
										<li>
											<a href="#">경영공시</a>
											<ul class="gnb-3dep">
												<li><a href="#">·요약공시</a></li>
												<li><a href="#">·결산공시 목록</a></li>

												<!-- [퍼블-4] 추가 -->
												<li><a href="#">·기결산공시 목록</a></li>
												<!-- //[퍼블-4] 추가 -->

												<li><a href="#">·수시공시 목록</a></li>
												<li><a href="#">·정보기술부문공시 목록</a></li>
											</ul>
										</li>
										<li>
											<a href="#">윤리경영</a>
											<ul class="gnb-3dep">
												<li><a href="#">·윤리헌장</a></li><!-- [퍼블-1] 텍스트 오타 수정 -->
												<li><a href="#">·윤리행동강령</a></li>

												<!-- [퍼블-4] 추가 -->
												<li><a href="#">·내부자신고제도 운영안내</a></li>
												<!-- //[퍼블-4] 추가 -->
											</ul>
										</li>
										<li>
											<a href="#">인사채용</a>
											<ul class="gnb-3dep">
												<li><a href="#">·인재상</a></li>
												<li><a href="#">·채용공고</a></li>
											</ul>
										</li>
										<li>
											<a href="#">흥국금융가족</a>
											<ul class="gnb-3dep">
												<li><a href="#">·흥국금융가족소개</a></li>
												<li><a href="#">·CI소개</a></li>
											</ul>
										</li>
										<li><a href="#">영업점안내</a></li>
									</ul>
								</li>

								<li>
									<a href="#">고객센터</a>
									<ul class="gnb-2dep">
										<li>
											<a href="#">개인정보보호</a>
											<ul class="gnb-3dep">
												<li><a href="#">·개인신용정보관리 및 보호</a></li>
												<li><a href="#">·고객권리 안내문</a></li>
												<li><a href="#">·개인신용정보관리보호정책</a></li>
												<li><a href="#">·개인정보처리방침</a></li>
												<li><a href="#">·신용정보활용체제</a></li>
												<li><a href="#">·영상정보처리기기 운영관리방침</a></li>
											</ul>
										</li>
										<li>
											<a href="#">전자금융안내</a>
											<ul class="gnb-3dep">
												<li><a href="#">·인터넷뱅킹</a></li>
												<li><a href="#">·텔레뱅킹</a></li>
												<li><a href="#">·전자금융거래약관</a></li>
												<li><a href="#">·전자금융서비스이용약관</a></li>
												<li><a href="#">·안전한 전자금융</a></li>
											</ul>
										</li>
										<li>
											<a href="#">금융계산기</a>
											<ul class="gnb-3dep">
												<li><a href="#">·예금계산</a></li>
												<li><a href="#">·적금계산</a></li>
												<li><a href="#">·대출계산</a></li>
											</ul>
										</li>
										<li><a href="#">비금융거래정보 등록제도</a></li>
										<li><a href="#">제증명서발급신청</a></li>
										<li><a href="#">자동이체 조회/신청</a></li>
										<li><a href="#">서식 및 약관 자료실</a></li>
										<li><a href="#">도움말(FAQ)</a></li>
										<li><a href="#">신용조회동의(적합성/고객거래확인)</a></li>
										<li><a href="#">온라인서류제출</a></li>
										<li><a href="#">공공마이데이터</a></li>
										<li><a href="#">멤버십서비스</a></li>
										<li><a href="#">보안프로그램설치</a></li>
										<li><a href="#">인증센터</a></li>
										<li><a href="#">전자약정</a></li><!-- [퍼블-2] 추가 -->
									</ul>

									<a href="#" class="menu-tit">공지사항</a>
									<ul class="gnb-2dep">
										<li><a href="#">공지사항</a></li>
										<li><a href="#">이벤트</a></li>
									</ul>
			
									<a href="#" class="menu-tit">인터넷뱅킹</a>
									<ul class="gnb-2dep">
										<li><a href="#">조회</a></li>
										<li><a href="#">이체</a></li>
										<li><a href="#">신규</a></li>
										<li><a href="#">해지</a></li>
										<li><a href="#">대출</a></li>
										<li><a href="#">공과금</a></li>
										<li><a href="#">사고신고</a></li>
										<li><a href="#">이용안내</a></li>
									</ul>

								</li>
								<!-- //[퍼블-1] 고객센터, 저축은행소개 순서 이동 & 메뉴 이동 -->

							</ul>
						</div>
						<!-- e: 검색결과 -->

						<!-- s: 검색결과 - 에러메세지 -->
						<div class="contents default-wrap" style="display: none;">
							<div class="error-area srh-bang-type">
							   <p class="tit"><b>페이지를 찾을 수 없습니다</b></p>
							   <div class="s-txt">
									<p>다시 한번 확인해 주세요. 단어의 철자가 정확한가요?</p>
									<p>Tip 1. 검색의 단어 수를 줄이거나, 다른 검색어로 검색해 보세요.</p>
									<p>Tip 2. 보다 일반적인 검색어로 다시 검색해 보세요.</p>
								</div>
						   </div>
					   </div>
					   <!-- e: 검색결과 - 에러메세지 -->

					</div>



				</div>
			</div>
			<!-- e: 기획 현행화 -->
		</div>

		<!-- s: 기획 현행화 -->
		<button class="btnMenu" type="button"><span class="blind">메뉴 버튼</span></button>
		<!-- e: 기획 현행화 -->

		<!--D: 전체 수정 -->
		<div class="menu-part">
			<!-- s: 기획 현행화 -->
			<div class="menu-part-header">
				<div class="menu-part-header-inner">
					<p>전체메뉴</p>
					<div class="close">
						<button class="close_btn"><img src="../../resources/images/main/icon_close_w.png" alt="닫기" id="menu_close_btn" /></button>
					</div>
				</div>
			</div>
			<!-- e: 기획 현행화 -->
			<div class="menu-con">
				<ul class="menu-inner">
					<li>
						<a href="#">상품공시</a>
						<ul class="gnb-2dep">
							<li>
								<a href="#">예/적금 상품</a>
								<ul class="gnb-3dep">
									<li><a href="#">·빠른계좌개설</a></li>
									<li>
										<a href="#">·목돈 굴리기 상품</a>
										<ul class="gnb-4dep">
											<li><a href="#">- e-회전정기예금</a></li>
											<li><a href="#">- 회전정기예금</a></li>
											<li><a href="#">- e-정기예금</a></li>
											<li><a href="#">- 정기예금</a></li>
											<li><a href="#">- e-안심 Plus 정기예금</a></li>
											
											<!-- [퍼블-4] 추가 -->
											<li><a href="#">- 안심 Plus 정기예금</a></li>
											<!-- //[퍼블-4] 추가 -->

											<!-- [퍼블-4] 목돈마련에 있던 거 목돈 굴리기로 이동 -->
											<li><a href="#">- 자유적립예금</a></li>
											<!-- //[퍼블-4] 목돈마련에 있던 거 목돈 굴리기로 이동 -->

											<li><a href="#">- 표지어음</a></li>
											<li><a href="#">- 퇴직연금 정기예금</a></li>
										</ul>
									</li>
									<li>
										<a href="#">·목돈 마련 상품</a>
										<ul class="gnb-4dep">
											<li><a href="#">- Hi! 예가람 e정기적금 </a></li>
											<li><a href="#">- 직장인 Plus 정기적금</a></li>
											<li><a href="#">- 예가람멤버십정기적금</a></li>
											<li><a href="#">- 2030 Start 정기적금</a></li>
											<li><a href="#">-  정기적금</a></li>
											<!-- <li><a href="#">- 자유적립예금</a></li> [퍼블-4] 위로 메뉴 이동 -->
										</ul>
									</li>
									<li>
										<a href="#">·입출금자유예금상품</a>
										<ul class="gnb-4dep">
											<li><a href="#">- e-RUN 파킹통장(예스뱅킹)</a></li>
											<li><a href="#">- RUN 파킹통장(개인/대면)</a></li>
											<li><a href="#">- RUN 파킹통장(개인사업자/대면)</a></li>
											<li><a href="#">- RUN 파킹통장(법인사업자/대면)</a></li>
											<li><a href="#">-  보통예금(입출금예금)</a></li>
										</ul>
									</li>
									<li><a href="#">·예금상품금리</a></li>
									<li><a href="#">·예금약관</a></li>
								</ul>
							</li>
							

							<!-- [퍼블-1] 메뉴 2dep로 수정, 상품공시실 이용매뉴얼 추가 -->
							<!-- <li><a href="#">체크카드</a></li>
							<li><a href="#">부대비용</a></li>
							<li><a href="#">판매종료된 상품</a></li>
							<li><a href="#">모집인수수료율</a></li>
							<li><a href="#">상품공시실 이용매뉴얼</a></li> [퍼블-4] 주석처리, 아래로 이동 -->
							<!-- //[퍼블-1] 메뉴 2dep로 수정, 상품공시실 이용매뉴얼 추가 -->
						</ul>
					</li>

					<!-- [퍼블-4] 상품공시 타이틀 추가, ul.gnb-2dep 추가, 위에 있던 대출 상품 li 메뉴 이동 -->
					<li>
						<a href="#">상품공시</a>
						<ul class="gnb-2dep">
							<li>
								<a href="#">대출 상품</a>
								<ul class="gnb-3dep">
									<li>
										<a href="#">·간편한도조회</a>
									</li>
									<li>
										<a href="#">·정책자금대출</a>
										<ul class="gnb-4dep">
											<li><a href="#">- 근로자햇살론</a></li><!-- [퍼블-4] 햇살론ll에서 근로자햇살론으로 상품명 변경 -->
											<li><a href="#">- 온라인햇살론</a></li>
											<li><a href="#">- 사잇돌2</a></li>
										</ul>
									</li>
									<li>
										<a href="#">·신용대출</a>
										<ul class="gnb-4dep">
											<li><a href="#">- 예스론</a></li>
											<li><a href="#">- GPS론</a></li>

											<!-- [퍼블-4] 추가 -->
											<li><a href="#">- 빅머니A</a></li>
											<li><a href="#">- 라이브T</a></li>
											<!-- //[퍼블-4] 추가 -->

											<li><a href="#">- 빅머니F론</a></li>
											<li><a href="#">- 빅머니M</a></li>
											<li><a href="#">-  라이브M</a></li>

											<!-- [퍼블-4] 추가 -->
											<li><a href="#">- 라이브A론</a></li>
											<!-- //[퍼블-4] 추가 -->
										</ul>
									</li>
									<li>
										<a href="#">·대환대출</a>
										<ul class="gnb-4dep">
											<li><a href="#">- 빅머니U론</a></li>
											<li><a href="#">- 라이브U론</a></li>
										</ul>
									</li>
									<li>
										<a href="#">·담보대출</a>
										<ul class="gnb-4dep">
											<li><a href="#">- 부동산담보대출</a></li>
											<li><a href="#">- 부동산 PF대출</a></li>
											<li><a href="#">- 자산유동화대출(ABL)</a></li>
											<li><a href="#">- 닥터론</a></li>
											<li><a href="#">-  중도금대출</a></li>
											<li><a href="#">- 스크린골프 동산담보 대출</a></li>
											<li><a href="#">- 공공임대보증금담보대출</a></li>
											<li><a href="#">- 전세보증금담보대출</a></li>
											<li><a href="#">- 유가증권담보대출</a></li>
											<li><a href="#">-  예적금담보대출</a></li>
											<li><a href="#">-  종합통장대출</a></li>
										</ul>
									</li>
									<li><a href="#">·할인어음</a></li>
	
									<!-- [퍼블-1] 추가 -->
									<li><a href="#">·대출상품금리</a></li>
									<li><a href="#">·여신거래약관</a></li>
									<!-- //[퍼블-1] 추가 -->

								</ul>
							</li>
						</ul>
					</li>
					<!-- //[퍼블-4] 상품공시 타이틀 추가, ul.gnb-2dep 추가, 위에 있던 대출 상품 li 메뉴 이동 -->

					<!-- [퍼블-4] 상품공시 타이틀 추가, ul.gnb-2dep 추가, 위에 있던 체크카드~상품공시실 이용매뉴얼 메뉴 이동 -->
					<li>
						<a href="#">상품공시</a>
						<ul class="gnb-2dep">
							<li><a href="#">체크카드</a></li>
							<li><a href="#">부대비용</a></li>
							<li><a href="#">판매종료된 상품</a></li>
							<li><a href="#">모집인수수료율</a></li>
							<li><a href="#">상품공시실 이용매뉴얼</a></li>
						</ul>
					</li>
					<!-- //[퍼블-4] 상품공시 타이틀 추가, ul.gnb-2dep 추가, 위에 있던 체크카드~상품공시실 이용매뉴얼 메뉴 이동 -->

					<li>
						<a href="#">소비자정보포털</a>
						<ul class="gnb-2dep">
							<li>
								<a href="#">금융소비자보호체계</a>
								<ul class="gnb-3dep">
									<li><a href="#">·금융소비자보호헌장</a></li>
									<li><a href="#">·금융소비자보호조직도</a></li>
									<li><a href="#">·상품판매준칙</a></li>
									<li><a href="#">·상품개발준칙</a></li>
									<li><a href="#">·민원처리프로세스</a></li>
								</ul>
							</li>
							<li>
								<a href="#">민원센터</a>
								<ul class="gnb-3dep">
									<li><a href="#">·온라인상담센터</a></li>
									<li><a href="#">·고객의견(칭찬/불만)</a></li>
									<li><a href="#">·고객제안</a></li>

									<!-- [퍼블-1] 추가 -->
									<li><a href="#">·전자민원신청</a></li>
									<!-- //[퍼블-1] 추가 -->

									<li><a href="#">·전자민원 신청내역 조회/취하</a></li>
									<li><a href="#">·민원사무편람</a></li>
								</ul>
							</li>
							<li>
								<a href="#">금융소비자권리</a>
								<ul class="gnb-3dep">
									<li><a href="#">·위법계약해지권</a></li>
									<li><a href="#">·청약철회권</a></li>
									<li><a href="#">·금리인하요구권</a></li>
									<li><a href="#">·자료열람요구권</a></li>
									<li><a href="#">·연락금지요구권</a></li>
								</ul>
							</li>
							<!-- <li>
								<a href="#">금융소비자보호공시</a>
								<ul class="gnb-3dep">
									<li><a href="#">·민원공시</a></li>
									<li><a href="#">·금융소비자보호실태평가</a></li>
									<li><a href="#">·지급정지관련 공시</a></li>
									<li><a href="#">·채권소멸관련공시</a></li>
								</ul>
							</li>
							<li>
								<a href="#">금융상품가입정보</a>
								<ul class="gnb-3dep">
									<li><a href="#">·예금자보호법</a></li>
									<li><a href="#">·보호금융상품등록부</a></li>
									<li>
										<a href="#">·대출가이드</a>
										<ul class="gnb-4dep">
											<li><a href="#">- 대출방법안내</a></li>
											<li><a href="#">- 대출준비서류</a></li>
										</ul> 240705 한 페이지로
									</li>
									<li><a href="#">·ARS 구성도</a></li>
								</ul>
							</li>

							[퍼블-1] 추가
							<li>
								<a href="#">채권추심업무</a>
								<ul class="gnb-3dep">
									<li><a href="#">·채권추심업무 처리절차 안내문</a></li>
									<li><a href="#">·불법채권추심 대응요령</a></li>
									<li><a href="#">·소멸시효 완성채권 추심관련<br />금융소비자 유의사항</a></li>
								</ul>
							</li>
							<li><a href="#">유용한 소비자 정보</a></li>
							<li><a href="#">금융소비자보호 우수사례</a></li>
							<li><a href="#">적합성·적정성 조회</a></li>
							//[퍼블-1] 추가 [퍼블-4] 주석처리, 아래로 이동 -->
						</ul>
					</li>

					<!-- [퍼블-4] 소비자정보포털 타이틀 추가, ul.gnb-2dep 추가, 위에 있던 금융소비자보호공시 ~ 적합성·적정성 조회 메뉴 이동 -->
					<li>
						<a href="#">소비자정보포털</a>
						<ul class="gnb-2dep">
							<li>
								<a href="#">금융소비자보호공시</a>
								<ul class="gnb-3dep">
									<li><a href="#">·민원공시</a></li>
									<li><a href="#">·금융소비자보호실태평가</a></li>
									<li><a href="#">·지급정지관련 공시</a></li>
									<li><a href="#">·채권소멸관련공시</a></li>
								</ul>
							</li>
							<li>
								<a href="#">금융상품가입정보</a>
								<ul class="gnb-3dep">
									<li><a href="#">·예금자보호법</a></li>
									<li><a href="#">·보호금융상품등록부</a></li>
									<li>
										<a href="#">·대출가이드</a>
									</li>
									<li><a href="#">·ARS 구성도</a></li>
								</ul>
							</li>

							<li>
								<a href="#">채권추심업무</a>
								<ul class="gnb-3dep">
									<li><a href="#">·채권추심업무 처리절차 안내문</a></li>
									<li><a href="#">·불법채권추심 대응요령</a></li>
									<li><a href="#">·소멸시효 완성채권 추심관련<br />금융소비자 유의사항</a></li>
								</ul>
							</li>
							<li><a href="#">유용한 소비자 정보</a></li>
							<li><a href="#">금융소비자보호 우수사례</a></li>
							<li><a href="#">적합성·적정성 조회</a></li>
						</ul>
					</li>
					<!-- //[퍼블-4] 소비자정보포털 타이틀 추가, ul.gnb-2dep 추가, 위에 있던 금융소비자보호공시 ~ 적합성·적정성 조회 메뉴 이동 -->

					<!-- [퍼블-1] 고객센터, 저축은행소개 순서 이동 & 메뉴 이동 -->
					<li>
						<a href="#">저축은행소개</a>
						<ul class="gnb-2dep">
							<li>
								<a href="#">회사안내</a>
								<ul class="gnb-3dep">
									<li><a href="#">·대표이사인사말</a></li>
									<li><a href="#">·연혁</a></li>
									<li><a href="#">·경영이념</a></li>
									<li><a href="#">·조직도</a></li>
								</ul>
							</li>
							<li>
								<a href="#">경영공시</a>
								<ul class="gnb-3dep">
									<li><a href="#">·요약공시</a></li>
									<li><a href="#">·결산공시 목록</a></li>

									<!-- [퍼블-4] 추가 -->
									<li><a href="#">·기결산공시 목록</a></li>
									<!-- //[퍼블-4] 추가 -->

									<li><a href="#">·수시공시 목록</a></li>
									<li><a href="#">·정보기술부문공시 목록</a></li>
								</ul>
							</li>
							<li>
								<a href="#">윤리경영</a>
								<ul class="gnb-3dep">
									<li><a href="#">·윤리헌장</a></li><!-- [퍼블-1] 텍스트 오타 수정 -->
									<li><a href="#">·윤리행동강령</a></li>

									<!-- [퍼블-4] 추가 -->
									<li><a href="#">·내부자신고제도 운영안내</a></li>
									<!-- //[퍼블-4] 추가 -->
								</ul>
							</li>
							<li>
								<a href="#">인사채용</a>
								<ul class="gnb-3dep">
									<li><a href="#">·인재상</a></li>
									<li><a href="#">·채용공고</a></li>
								</ul>
							</li>
							<li>
								<a href="#">흥국금융가족</a>
								<ul class="gnb-3dep">
									<li><a href="#">·흥국금융가족소개</a></li>
									<li><a href="#">·CI소개</a></li>
								</ul>
							</li>
							<li><a href="#">영업점안내</a></li>
						</ul>
					</li>

					<li>
						<a href="#">고객센터</a>
						<ul class="gnb-2dep">
							<li>
								<a href="#">개인정보보호</a>
								<ul class="gnb-3dep">
									<li><a href="#">·개인신용정보관리 및 보호</a></li>
									<li><a href="#">·고객권리 안내문</a></li>
									<li><a href="#">·개인신용정보관리보호정책</a></li>
									<li><a href="#">·개인정보처리방침</a></li>
									<li><a href="#">·신용정보활용체제</a></li>
									<li><a href="#">·영상정보처리기기 운영관리방침</a></li>
								</ul>
							</li>
							<li>
								<a href="#">전자금융안내</a>
								<ul class="gnb-3dep">
									<li><a href="#">·인터넷뱅킹</a></li>
									<li><a href="#">·텔레뱅킹</a></li>
									<li><a href="#">·전자금융거래약관</a></li>
									<li><a href="#">·전자금융서비스이용약관</a></li>
									<li><a href="#">·안전한 전자금융</a></li>
								</ul>
							</li>
							<li>
								<a href="#">금융계산기</a>
								<ul class="gnb-3dep">
									<li><a href="#">·예금계산</a></li>
									<li><a href="#">·적금계산</a></li>
									<li><a href="#">·대출계산</a></li>
								</ul>
							</li>
							<li><a href="#">비금융거래정보 등록제도</a></li>
							<li><a href="#">제증명서발급신청</a></li>
							<li><a href="#">자동이체 조회/신청</a></li>
							<li><a href="#">서식 및 약관 자료실</a></li>
							<li><a href="#">도움말(FAQ)</a></li>
							<li><a href="#">신용조회동의<br />(적합성/고객거래확인)</a></li><!-- [퍼블-4] br 추가 -->
							<li><a href="#">온라인서류제출</a></li>
							<li><a href="#">공공마이데이터</a></li>
							<li><a href="#">멤버십서비스</a></li>
							<li><a href="#">보안프로그램설치</a></li>
							<li><a href="#">인증센터</a></li>
							<li><a href="#">전자약정</a></li><!-- [퍼블-2] 추가 -->
						</ul>

						<!-- <a href="#" class="menu-tit">공지사항</a>
						<ul class="gnb-2dep">
							<li><a href="#">공지사항</a></li>
							<li><a href="#">이벤트</a></li>
						</ul>

						<a href="#" class="menu-tit">인터넷뱅킹</a>
						<ul class="gnb-2dep">
							<li><a href="#">조회</a></li>
							<li><a href="#">이체</a></li>
							<li><a href="#">신규</a></li>
							<li><a href="#">해지</a></li>
							<li><a href="#">대출</a></li>
							<li><a href="#">공과금</a></li>
							<li><a href="#">사고신고</a></li>
							<li><a href="#">이용안내</a></li>
						</ul> [퍼블-4] 주석처리, 아래로 이동 -->

					</li>

					<!-- [퍼블-4] 공지사항 타이틀 추가, ul.gnb-2dep 추가, 위에 있던 공지사항 ~ 이용안내 메뉴 이동 -->
					<li>
						<a href="#">공지사항</a>
						<ul class="gnb-2dep">
							<li><a href="#">공지사항</a></li>
							<li><a href="#">이벤트</a></li>
						</ul>

						<a href="#" class="menu-tit">인터넷뱅킹</a>
						<ul class="gnb-2dep">
							<li><a href="#">조회</a></li>
							<li><a href="#">이체</a></li>
							<li><a href="#">신규</a></li>
							<li><a href="#">해지</a></li>
							<li><a href="#">대출</a></li>
							<li><a href="#">공과금</a></li>
							<li><a href="#">사고신고</a></li>
							<li><a href="#">이용안내</a></li>
						</ul>
					</li>
					<!-- //[퍼블-4] 공지사항 타이틀 추가, ul.gnb-2dep 추가, 위에 있던 공지사항 ~ 이용안내 메뉴 이동 -->

					<!-- //[퍼블-1] 고객센터, 저축은행소개 순서 이동 & 메뉴 이동 -->

				</ul>
			</div>
		</div>
	 </div>
   </div>
</div>

<script>
$(document).ready(function(){
	//스크롤시 헤더 fix
	var lnb = $(".btm-header").offset().top;
	$(window).scroll(function() {
		
		var window = $(this).scrollTop();

		if(lnb <= window) {
		  $(".btm-header").addClass("fix");
		} else {
		  $(".btm-header").removeClass("fix");
		}
	});

	// gnb action
	$(".center-menu > li").mouseover(function(){
		gnbShow($(this));
	});
	$(".center-menu > li").focusin(function(){
		gnbShow($(this));
	});
	$(".gnb-sub-inner").mouseleave(function(){
		gnbHide($(this));
	});

	// 전체메뉴 아이콘 클릭 시
	$(".btnMenu").click(function(){
		$(".right-menu > div").hide();
		$(".menu-part").show();

		$("body").css("overflow", "hidden");
	});

	$(".menu-con > .close").click(function(){
		$(".menu-part").hide();
		$("body").css("overflow", "");
	});

	// 메뉴 닫기
	$('#menu_close_btn').click(function(){
		$(".right-menu > div").hide();
		$(".menu-part").hide();
		$("body").css("overflow","visible");
	});

	$('.close_btn').keydown(function(e){
		if(e.keyCode == 13) {
			$(".right-menu > div").hide();
			$(".menu-part").hide();
			$("body").css("overflow","visible");
		}
	});

	
	// 검색 아이콘 클릭시
	$(".btnSearch").click(function(){
		$(".right-menu > div").hide();
		$(".search-part").show();
	});

	$(".search-con > .close").click(function(){
		$(".search-part").hide();
		$("body").css("overflow", "");
	});


});

</script>