@charset "utf-8";

/** 나눔고딕 **/
@font-face {
    font-family: 'NanumGothic';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothic/NanumGothic.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothic/NanumGothic.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothic/NanumGothic.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothic/NanumGothic.ttf) format("truetype");
}

@font-face {
    font-family: 'NanumGothicBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothic/NanumGothicBold.otf) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothic/NanumGothicBold.ttf) format("truetype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothic/NanumGothicBold.woff) format("woff");
}

@font-face {
    font-family: 'NanumGothicLight';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothic/NanumGothicLight.otf) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothic/NanumGothicLight.ttf) format("truetype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothic/NanumGothicLight.woff) format("woff");
}

html { overflow-y:auto; }
body { width:100%; height:100%; font-size:16px; font-weight:400; color:var(--normal); text-align: left; background-color: #fff; }
ul, ol { list-style:none; }
*,
*::before,
*::after { -webkit-box-sizing: border-box; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-text-size-adjust:none; max-height:1000000px; word-break:keep-all; word-wrap:break-word; outline:none; }
.wrap { position:relative; display:block; padding-top:144px; }
header { position:fixed; top:0; left:0; z-index:10; width:100%; min-height:45px; background-color: #FFFFFF; }
form { height:100%; }
html, body, div, ul, ol, dl, li, dt, dd, p, h1, h2, h3, h4, h5, h6, table, thead, tbody, tr, th, td, caption, address,
canvas, details, figure, figcaption, footer, header, menu, nav, section, article, aside,
form, fieldset, button, select, textarea, input, fieldset, legend, label, a, span, strong, em, address, dfn, small, i, b, ::before, ::after { font-family: 'NanumGothic', 'Apple SD Gothic Neo', 'Noto Sans', sans-serif; position:relative; margin:0; padding:0; border:0; list-style:none; word-break:break-all; word-wrap:inherit; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -ms-overflow-style:scrollbar; }
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section { display: block; }
[tabindex="-1"]:focus { outline: 0 !important; }
ul, ol, li, dl, dt, dd  { list-style:none; margin:0; padding:0; }
#contentWrap > .table-type { margin-top:28px; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col { width:100%; }
.form-row { gap:10px; }
.form-wrap.login .form-row { gap:0; }
.form-row:has(.input-hyphen) { gap:4px; }

.form-group [class*='col'] input.form-control:not(.pous-file) { max-width:initial; }
.col-1 { max-width:410px; }
.col-2 { /*-ms-flex: 0 0 20%; flex: 0 0 20%;*/  max-width:192px; }
.col-3 { /*ms-flex: 0 0 30%; flex: 0 0 30%;*/ max-width:162px; }
.col-4 {   max-width:45.3%; }
.col-5 {  max-width:55.3%; }
.col-6 { max-width:65.3%;}
.col-7 { max-width:75.3%; }
.col-8 {max-width:85.3%; }
.col-9 {  max-width:95.3%; }
.col-10 { max-width:initial; }

:root {
    --font14:0.88rem;
    --font16:1rem;
    --font18:1.13rem;
    --font20:1.250rem;
    --font22:1.375rem;
    --font28:1.75rem;

    --w-regular:400;
    --w-bold:700;

    --white:#FFFFFF;
    --title:#111111;
    --normal:#333333;
    --inactive:#666666;
    --subtitle:#757575;
    --error:#FF0000;

    --border1:#DDDDDD;
    --border2: #cccccc;
    --border3: #EDEDED;

    --primary:#0F3862;
    --secondary: #056ED6;

    --tag1:#E62348;
    --tag2:#802CE3;
    --tag3:#A73737;
    --tag4:#00A2C4;
    --tag5:#EFF4FF;
    --tag6:#F3EBFF;
    --tag7:#FFEFEF;
    --tag8:#EFF0F2;

    --background1:#EAEAEA;
    --background2:#F8F8F8;
    --background3:#5474c0;
    --background4:#F9FAFC;

    --svg-image-select-arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h20v20H0z' data-name='사각형 22269'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)' data-name='그룹 45678'%3E%3Cg data-name='그룹 45677'%3E%3Cpath fill='none' stroke='%23666666' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 3.99 3.99L13.98 8' data-name='패스 53126'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --svg-image-toggle-arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h20v20H0z' data-name='사각형 22269'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)' data-name='그룹 45678'%3E%3Cg data-name='그룹 45677'%3E%3Cpath fill='none' stroke='%23111111' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 3.99 3.99L13.98 8' data-name='패스 53126'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


label { display: inline-block; font-size:1rem; line-height:1.188rem; color:var(--normal); }
.dp-none { display:none; }
legend, caption{width:0; height:0; text-indent:-10000px; font-size:0; line-height:0; position:absolute; left:-99999px; }
a { /* color: #007bff; */ color:var(--normal); text-decoration:none; background-color:transparent; }
img,
svg { vertical-align:middle; border-style:none; }
table { border-collapse:collapse; border-spacing:0; width:100%; }
.line { border: 1px solid var(--border2); border-radius:5px; background-color: var(--white); padding:10px; }
.type-spread { margin:0 -20px; }
.revert-type-spread { margin:0 20px; }
.essential { color:var(--subtitle); }
.essential::after { content:"*"; color:var(--error); padding-left:3px; }

/* 폰트숨김 */
.ir { position:absolute; clip:rect(1px 1px 1px 1px); width:1px; height:1px; margin:-1px; overflow: hidden;   }

/* skipnavi */
#skipnavi li a { display:block; font-size:16px; font-size:1rem; width:100%; position:absolute; top:-10000px; left:0; text-align:center; z-index:999999; line-height:1; letter-spacing:0; }
#skipnavi li a:focus { position:absolute; top:0; left:0; font-weight:600; color:var(--title); background:#EAEAEA; border:1px solid var(--secondary); padding:20px 0; line-height:1; }

/** intro **/
#contentWrap.loginLayout { display:flex; align-items:center; justify-content:center; margin-top:0; padding-bottom:0; }

/** UI **/
[class*='btn'] { display:inline-block; vertical-align:middle; }
[class*='btn']:focus { border:2px solid var(--normal); }

/*********************************************************************
title
*********************************************************************/
/*---------------------------------------------
text-wrap
---------------------------------------------*/
.text-wrap h2 { font-size:var(--font28); font-weight:var(--w-bold); color:var(--title); }
.text-wrap p.sub-tit { display:block; padding-top:27px; font-size:var(--font22); font-weight:var(--w-regular); color:var(--title); }
.text-wrap h3 { font-size:var(--font22); font-weight:var(--w-bold); color:var(--normal); }

/*---------------------------------------------
sub-text-wrap 본문 타이틀
style1 = padding:10px 0 20px;
style2 = padding:20px 0;
---------------------------------------------*/
.sub-text-wrap { font-size:var(--font20); font-weight:var(--w-bold); text-align:left; }
.sub-text-wrap.style1 { padding:10px 0 20px;  }
.sub-text-wrap h4 { font-size:var(--font20); font-weight:var(--w-bold); text-align:left; }
.sub-text-wrap.style2 { padding:20px 0; }

.caption { padding-left:22px; margin-top:10px; font-size:var(--font14); font-weight:var(--w-regular); }
.caption2 { position:absolute; top:-36px; right:0; display:inline-block; font-size:var(--font14); font-weight:var(--w-regular); color:var(--subtitle); }

.blue { color:var(--secondary)!important; }
.red { color:var(--error)!important; }

/* sub-text-wrap 안에 버튼 */
.sub-text-wrap:has(.btn, .select-box) { display:flex; align-items: center; justify-content: space-between; }

/* text-align */
.ta-c { text-align:center; }

/*********************************************************************
#블릿텍스트
*********************************************************************/
.bul-hypn > li { display:inline-block; width:100%; padding-left:15px; }
.bul-hypn > li::before{ content:'-'; position:absolute; left:0; }

/*********************************************************************
login #로그인
*********************************************************************/
.wrap.login { padding-top:50px; }
.wrap.login .sub-content { padding:50px 20px 80px; }
.wrap.login .login-header { padding-bottom:50px; border-bottom:1px solid var(--border1); text-align:center; }
.wrap.login .login-header img { width:234px; margin-bottom:30px; }
.wrap.login .login-header h2 { font-size:var(--font28); font-weight:var(--w-bold); color:var(--title); }
.wrap.login .login-header span { display:block; padding-top:15px; font-size:var(--font22); font-weight:var(--w-regular); color:var(--normal); }

/* 로그인 인풋 */
.wrap.login .form-wrap:not(.footer .form-wrap) { margin-top:30px; }
.wrap.login .form-wrap .form-group:not(.form-group.footer) { margin:24px auto 0; }
.wrap.login .form-wrap .form-group input.form-control { padding:0 20px; height:59px; }

/* 로그인 버튼 */
.wrap.login .form-wrap .btn-wrap.bottom { margin:50px 0 100px; }
.wrap.login .form-wrap .btn-wrap.bottom .btn.btn-primary { width:410px; }

/*********************************************************************
header #헤더
*********************************************************************/
#headerWrap { position:fixed; top:0; z-index:2; width:100%; background-color:var(--white); border-bottom:1px solid var(--border1); /*box-shadow: 0px 0px 10px 2px #ddd;*/ }
#headerWrap .top { padding:20px; margin: 0 auto; max-width:1400px; width: 100%; /*min-width:1200px;*/ height:72px; }
#headerWrap .top div { display:flex; align-items:center; }
#headerWrap .top > div > * { vertical-align:middle; }
#headerWrap .top > div > h1 { display:inline-block; margin-right:25px; width:100px; height:25px; }
#headerWrap .top > div > ul { position:absolute; right:0; top:50%; transform:translateY(-50%); display:flex; letter-spacing:0; }
#headerWrap .top > div > ul li { display:inline-block; }
#headerWrap .top > div > ul li:first-child::after { content:""; display:inline-block; margin:0 16px; width:1px; height:14px; background:var(--border1); vertical-align: middle; }
#headerWrap .top > div > ul li a { font-size:var(--font-14); font-weight:700; color:var(--subtitle); }

#headerWrap > .h-menu { display:flex; align-items:center; padding:0 20px; }
#headerWrap > .h-menu div { margin: 0 auto; max-width:1400px; width:100%; height:72px; }
#headerWrap > .h-menu div .nav-btn { display:none; width:40px; height:40px; }
#headerWrap > .h-menu div ul.menu { display:inline-block; margin:14px 0 28px; width:auto; }
#headerWrap > .h-menu div ul.menu li { position:relative; display:inline-block; margin:0 20px; }
#headerWrap > .h-menu div ul.menu li.on::after { content:""; position:absolute; top:52px; left:0; display:inline-block; width:100%; height:5px; background:var(--primary); }
/* #headerWrap > .h-menu ul.menu li.on::before { content:""; display:block; position:absolute; bottom: -2px; height:5px; left:0; right:0; background:var(--primary); } */
#headerWrap > .h-menu div ul.menu li a {  font-size:var(--font22); font-weight:var(--w-regular); color:var(--title); }
#headerWrap > .h-menu div ul.menu li:first-child { margin-left:0; }
#headerWrap > .h-menu div ul.menu li:last-child { margin-right:0; }

#headerWrap > .h-menu div ul.menu-r { position:absolute; right:20px; top:28px; display:flex; letter-spacing:0; }
#headerWrap > .h-menu div ul.menu-r li { display:inline-block; margin:0 15px; }
#headerWrap > .h-menu div ul.menu-r li:last-child { margin:0; }
#headerWrap > .h-menu div ul.menu-r li a span { font-weight:var(--w-bold); color:var(--secondary); text-decoration:underline; text-underline-offset:4px; }
#headerWrap > .h-menu div ul.menu-r li a.btn-primary { padding:4px 15px; line-height: 14px; color:var(--white); background-color:var(--primary);border-radius:14px; }

/* fix */
#headerWrap > .h-menu.fix { position:fixed; width:100%; animation: down 0.5s ease; top:0; background: var(--white); box-shadow: 0px 3px 6px #ddd; }
@keyframes down {
  0%{ transform: translateY(-50px) }
  100%{ transform: translateY(0px) }
}
/*********************************************************************
sub-content
*********************************************************************/
.sub-content { padding:0 20px 80px; margin:0 auto; max-width:1400px; width:100%; }
.sub-content > div { width:100%; }
.subvisual-wrap{  padding:17px 0 50px; }

/**** breadcrumb ****/
.subvisual-wrap .breadcrumb-wrap { width:100%; text-align:right; }
.subvisual-wrap .breadcrumb-wrap ul > li{ display:inline-block; padding-right:30px; vertical-align:top;  }
.subvisual-wrap .breadcrumb-wrap ul > li a { display:inline-block; width:auto; min-width:16px; height:30px; font-size:var(--font14); font-weight:var(--w-regular); color:var(--subtitle); line-height:30px; }
.subvisual-wrap .breadcrumb-wrap ul > li:last-of-type a { padding-right:0; font-weight:var(--w-bold); color:var(--title); }
.subvisual-wrap .breadcrumb-wrap ul > li::after { content:""; display:inline-block; position:absolute; top:50%; right:0; transform:translateY(-50%); width:30px; height:30px; background: url(../images/breadcrumb_arrow.png)no-repeat 50%/30px auto; }
.subvisual-wrap .breadcrumb-wrap ul > li:last-of-type::after { display:none; width:0; background:transparent; }
.subvisual-wrap .breadcrumb-wrap ul > li.home a{ display:inline-block; width:30px; height:30px; font-size:0; background: url(../images/home.png)no-repeat 50%/30px auto;}
.subvisual-wrap .text-wrap { padding-top:37px; }

/* footer */
.footer-wrap { padding:30px 0 50px; color:var(--white); background-color:#3F3F3F; }
.footer-wrap .footer { margin:0 auto; }
.footer-wrap > div { display:block; margin:0 auto 0; width:90%; max-width:1400px; /*min-width:1200px;*/ }
.footer-wrap .policy-link { display:block; font-size:var(--font16); font-weight:var(--w-bold); text-align:left; }
.footer-wrap .btn-wrap.policy-link .btn.btn-text { padding:0; height:auto; font-weight:var(--w-bold); color:var(--white); }
.footer-wrap .btn-wrap.policy-link .btn.btn-text + .btn.btn-text { margin-left:40px; }
.footer-wrap .list-wrap .address { margin-top:23px; font-size:var(--font14); font-weight:var(--w-regular); }
.footer-wrap .list-wrap .address li + li { margin-top:7px; }
.footer-wrap .list-wrap .address li span + span { margin-left:20px; }
.footer-wrap .list-wrap .Copyright { margin-top:29px; font-weight:400; }
.footer-wrap .form-group.style2 {  position:absolute; top:0; right:0; }
