:root{
    --m-img-q: url(../images/mian/ic_question.png);
    --m-img-mainsec01: url(../images/mian/ic_mainSec01.png);
    --m-color1:#056ED6;
    --m-color2:#EFF4FF;
    --m-background1: #E2ECF7;
}
/*********************************************************************
메인 default layout
*********************************************************************/
.mainWrap .sub-content{ padding:0 0 80px; max-width:initial; }
.mainWrap .inner {  max-width:1400px; margin:0 auto; }
@media screen and (max-width: 1200px) {
    .mainWrap { padding-top:76px; }
    .mainWrap .inner { padding:0 20px; }
}
/*********************************************************************
메인 default animation
*********************************************************************/
.x-slide {
    animation-name: x-slide;
    animation-duration: 0.6s;
    animation-timing-function: ease;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateX(20px); }
@keyframes x-slide {
    0% {
        transform: translateX("20px");
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.y-slide {
    animation-name: y-slide;
    animation-duration: 0.6s;
    animation-timing-function: ease;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(-20px); }
@keyframes y-slide {
    0% {
        transform: translateX("-20px");
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
/*********************************************************************
메인.01 - 메인베너/바로가기
*********************************************************************/
/*---------------------------------------------
    mainSec01 contents Default
---------------------------------------------*/
.mainSec01 { max-height:502px; background:var(--m-background1); }
.mainSec01 .inner { display:flex; justify-content: space-between; height:502px; background: var(--m-img-mainsec01) no-repeat calc(100% - 368px) /579px auto; }
.mainSec01 .img { width:579px; height:502px; right:368px; }
.mainSec01 em { font-style:initial; }
.mainSec01 .introMain-area { margin-top:92px; }
.mainSec01 .shortcut-area { margin-top:60px; width:365px; height:382px; border:1px solid red; }
/*********************************************************************
메인.05 - 공지사항/자료실/FAQ
*********************************************************************/
/*---------------------------------------------
    mainSec05 contents Tab
---------------------------------------------*/
.mainSec05 ul.intro-tit>li { display:inline-block; position: relative; cursor: pointer;}
.mainSec05 ul.intro-tit>li + li { margin-left:22px;  }
.mainSec05 ul.intro-tit>li.on h2 { line-height: 28px; color:var(--m-color1); }
.mainSec05 ul.intro-tit>li.on::after { content: ''; position: absolute; left:0; bottom:-5px; width:100%; height:2px; background: var(--m-color1); }
/*---------------------------------------------
    mainSec05 contents Default
---------------------------------------------*/
.mainSec05 {  margin-top:74px; }
.mainSec05>div { display:flex; justify-content: space-between;}
.mainSec05 [class*="area"] { width:calc((100%/2) - 13px); padding:48px 40px 55px 40px; max-height:308px; border-radius: 24px; border:1px solid var(--border1);  background: var(--white); }
.mainSec05 .intro-tit h2 { line-height:35px; font-size:var(--font24); font-weight: var(--w-bold); }
.mainSec05 .intro-con { margin-top:45px; max-height:120px; }
.mainSec05 .intro-con ul>li + li{ margin-top:24px; }
.mainSec05 .intro-con ul>li{ border-bottom:1px solid transparent; line-height:1.4; max-height:24px; }
.mainSec05 .intro-con ul>li:hover { background: var(--m-color2);}
.mainSec05 .intro-con ul>li>a { display:flex; justify-content: space-between; gap:10px; }
.mainSec05 .intro-con ul>li span.txt { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size:var(--font18); font-weight:var(--w-bold); color:var(--inactive); }
.mainSec05 .intro-con ul>li span.date { text-align: right; min-width:88px; color:var(--subtitle);}
.mainSec05 .intro-con .btn.btn-text { position:absolute; top:-81px; right:13px; }
/*---------------------------------------------
    mainSec05 contents Faq
---------------------------------------------*/
.mainSec05 .introFaq-area .intro-tit h2 { display:inline-block; letter-spacing:-3.2px;}
.mainSec05 .introFaq-area .intro-con ul>li { padding-left:32px; }
.mainSec05 .introFaq-area .intro-con ul>li:before { content:''; position:absolute;  transform: translateY(-50%); top:50%; left:0; width:24px; height:24px; background: var(--m-img-q)no-repeat 100%/24px auto; }
