

.form-row { display:-ms-flexbox; display:flex; -ms-flex-wrap:nowrap; flex-wrap:nowrap;  /*margin-right:-5px; margin-left:-5px;*/ width:100%; }
.form-row:not(.form-row.other) { max-width:410px; }
.form-row + .form-row { margin-top:20px; }
.form-row  + label { margin-top:24px; }
.form-row + .form-control { margin-top:20px; }
.form-row .col { width:auto; }
/** 인풋 **/
button,
input { overflow: visible; }

/* input normal style */
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="date"],
input[type="month"],
input[type="search"],
input[type="email"],
input[type="number"],
input[type="amount"]{ display:block; padding:0 16px; min-height:46px; max-width:410px; width:100%; box-sizing:border-box; font-size:1rem; line-height:1rem; font-weight:400; font-family:inherit; color:var(--subtitle); background-clip: padding-box; border: 1px solid var(--border2); background:var(--white); -webkit-appearance:none; -moz-appearance:none; appearance:none; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
select::-ms-expand { display:none }
.select { -o-appearance: none; -webkit-appearance: none; -moz-appearance: none; appearance: none }
select, .select-box { outline:none; -webkit-appearance:none; }

/* 웹킷 브라우저 (예: 크롬, 사파리)용 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

/* Firefox 브라우저용 */
input[type="number"] { -moz-appearance: textfield; }

/* edge 브라우저에만 해당 */
input[type="password"]::-ms-reveal { display: none; }


button,
[type="button"],
[type="reset"],
[type="submit"] { -webkit-appearance:button; }

input[type="radio"],
input[type="checkbox"] { display:none; box-sizing: border-box; padding: 0; }
input[type="file"] { position:absolute; top:0; right:0; opacity:0; }

[type="search"] { outline-offset:-2px; -webkit-appearance:none; }
[type="search"]::-webkit-search-decoration { -webkit-appearance:none; }

[hidden] { display:none !important; }

/** placeholder **/

/* normal  */
.form-control::placeholder,
input::placeholder {  font-size:1rem; font-weight:300; color:var(--subtitle); }
input::-webkit-input-placeholder { /* WebKit browsers */ color:var(--subtitle); }
input:-ms-input-placeholde {  /* Internet Explorer 10+ */ color:var(--subtitle); }
input:-moz-placeholder { /* Firefox 18- */ color:var(--subtitle); }
input::-moz-placeholder { /* Mozilla Firefox 19+ */ color:var(--subtitle); }

/* disabled */
input:disabled,
.form-control:disabled::placeholder,
input:disabled::placeholder { font-size:1rem; font-weight:300; color:var(--subtitle) !important; -webkit-text-fill-color: var(--subtitle); background-color:var(--background2) !important;pointer-events:none; opacity:1;  }
input:disabled::-webkit-input-placeholder {/* WebKit browsers */  color:var(--subtitle) !important; }
input:disabled::-ms-input-placeholder {  /* Internet Explorer 10+ */ color:var(--subtitle) !important; }
input:disabled::-moz-placeholder{ /* Firefox 18- */ color: var(--subtitle) !important; }
input:disabled::-moz-placeholder {  /* Mozilla Firefox 19+ */ color:var(--subtitle) !important; }

input.form-control:disabled + .jumintext { color:var(--border1); }

input.form-control.select:read-only,
input.form-control.datepicker:read-only  { color:var(--title);}

/* focus */
/** 인풋 자동완성 reset **/
input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px var(--white) inset;  background-color:var(--white) !important; color:var(--title); }

.form-control:focus:not(.form-control[readonly]:focus, .form-control:disabled:focus),
.input:focus,
button:focus { outline:0; background-color:var(--white); border-color:var(--normal); color:var(--normal); }


/* value */
.form-control.valid span,
.form-control:valid,
input:valid { color:var(--title); }

/** accuracy **/
.form-group.accuracy-n .form-control { border-color:var(--error); color:var(--error); }
.form-group .info-txt-wrap { margin-top:8px; }
.form-group.accuracy-n .info-txt-wrap .info:before{ content:""; position:absolute; top:50%; transform:translateY(-50%); left:0; display:inline-block; width:16px; height:16px; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cg data-name='그룹 65500'%3E%3Cg fill='%23fff' stroke='red' stroke-miterlimit='10' data-name='Oval 2' transform='translate(1 1)'%3E%3Ccircle cx='7' cy='7' r='7' stroke='none'/%3E%3Ccircle cx='7' cy='7' r='7.5' fill='none'/%3E%3C/g%3E%3Cpath fill='red' d='M7 11a1 1 0 1 1 1 1 1 1 0 0 1-1-1Zm.6-2a1 1 0 0 1-.88-.53l-.49-.92A2 2 0 0 1 6 6.63V5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v1.66a2 2 0 0 1-.24.96l-.48.86a1 1 0 0 1-.87.52Z' data-name='Combined Shape'/%3E%3C/g%3E%3C/svg%3E")no-repeat center; }
.form-group.accuracy-n .info { padding-left:24px; font-size:var(--font14); font-weight:var(--w-regular); color:var(--error); }


.form-group.accuracy-y .form-control { border-color:var(--secondary); color:var(--secondary); }
.form-group.accuracy-y .info-txt-wrap .info:before,
.caption::before{ content:""; position:absolute; top:50%; transform:translateY(-50%); left:0; display:inline-block; width:16px; height:16px; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cg data-name='그룹 65500'%3E%3Cg fill='%23fff' stroke='%23056ED6' stroke-miterlimit='10' data-name='Oval 2' transform='translate(1 1)'%3E%3Ccircle cx='7' cy='7' r='7' stroke='none'/%3E%3Ccircle cx='7' cy='7' r='7.5' fill='none'/%3E%3C/g%3E%3Cpath fill='%23056ED6' d='M7 11a1 1 0 1 1 1 1 1 1 0 0 1-1-1Zm.6-2a1 1 0 0 1-.88-.53l-.49-.92A2 2 0 0 1 6 6.63V5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v1.66a2 2 0 0 1-.24.96l-.48.86a1 1 0 0 1-.87.52Z' data-name='Combined Shape'/%3E%3C/g%3E%3C/svg%3E")no-repeat center; }
.form-group.accuracy-y .info { padding-left:24px; font-size:var(--font14); font-weight:var(--w-regular); color:var(--secondary); }


/* 기본 */
input::-ms-clear,input::-ms-reveal{ -webkit-appearance:none; display:none; }
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{ -webkit-appearance:none; display:none; }


/** input style **/
.form-group:not(.form-group.other, footer .form-group, .form-wrap.table-type .form-group) { max-width:410px; }
/* .form-group + .form-group:has(>label), */
.form-group + .form-group:not(.table-type .form-group + .form-group) { margin-top:24px; }
.form-wrap .form-group + .accordion-cont-wrap { margin-top:20px; }
.input-box-wrap + .txt-list-wrap { margin-top:20px; }

/* 휴대폰 번호 */
.form-group.other .form-row { justify-content: flex-start; }
.form-group.other .select-wrap { max-width:162px; width:100%; }
.form-group.other .col { max-width:300px; width:100%; }

/* label style */
.form-group label:not(.check-button,.radio-button, .terms-wrap label) { margin-bottom:10px; }

/** select style**/
select { background: url('../../images/common/svg/ico_select.svg') no-repeat right 10px center / 16px auto; }
.form-control.select { background: url('../../images/common/svg/ico_select.svg') no-repeat right 10px center / 16px auto; }
.form-group.popup-search { padding:10px; border:1px solid var(--border1); }
.form-group.popup-search .btn-cont-wrap .btn.btn-primary { width:100%; margin-top:20px; }
/****select****/
.select-wrap .btn-select { padding:14px 16px; width:100%; box-sizing:border-box; background:var(--white); font-size:var(--font16); color:var(--subtitle); line-height:1rem; font-weight:400; text-align:left; font-family:inherit; border:1px solid var(--border1); }
/* .select-wrap .btn-select.select-ok { color:var(--title); } */
.select-wrap + .form-row { margin-top:15px; }
.select-wrap select { display: none; }
.select-wrap .btn-select::after { content:""; position:absolute; top:50%; right:20px; transform:translate(0, -50%); display:block; width:20px; height:20px; background-repeat:no-repeat; background-position:center;  transition: all ease .5s; 
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h20v20H0z' data-name='사각형 22269'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)' data-name='그룹 45678'%3E%3Cg data-name='그룹 45677'%3E%3Cpath fill='none' stroke='%23666666' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 3.99 3.99L13.98 8' data-name='패스 53126'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  background-image: var(--svg-image-select-arrow);
}
.select-wrap .btn-select.action,
.form-wrap.search .form-group .form-row .col .select-wrap .btn-select.action { border:1px solid var(--normal); color:var(--subtitle); font-weight:var(--w-regular); }
.select-wrap .btn-select.action::after,
.form-wrap.search .form-group .form-row .col .select-wrap .btn-select.action::after {  transform:translate(0, -50%) rotate(-180deg);
}
.select-wrap .select-list { display:none; background:var(--white); }
.select-wrap .btn-select.action + .select-list{ position:absolute; z-index:2; left:0; right:0; top:47px; display:block; width:100%; }
.select-wrap .select-list{ /*padding: 5px 23px 5px 0;*/ border:1px solid var(--border1); border-top:0; border-radius:0 0 10px 10px; }
.select-wrap .select-list ul { max-height: 420px; overflow-y: auto; }
.select-wrap .select-list ul::-webkit-scrollbar { width:15px; scroll-margin-right:15px; }
.select-wrap .select-list ul::-webkit-scrollbar-thumb { width:11px; background-color:var(--background1); border-radius:5px; }
.select-wrap .select-list ul::-webkit-scrollbar-track { width:15px; background-color:var(--background2); border-radius:5px; }
.select-wrap .select-list li { background-color:var(--white); }
.select-wrap .select-list li:hover { background-color:var(--background2); }
.select-wrap .select-list li:hover button { color:var(--normal); }
.select-wrap .select-list li button { padding:14px 16px; width:100%; font-size:var(--font16); font-weight:400; color:var(--subtitle); text-align:left; background-color:transparent; }


.select-wrap .btn-select.txt::after { right:30px; }

/* selectbox 디자인만 */
select:not(.no-style) {
  font-family:inherit; /* 폰트 상속 */
  border-radius:0px; /* iOS 둥근모서리 제거 */
  -webkit-appearance:none; /* 네이티브 외형 감추기 */
  -moz-appearance:none;
  appearance:none;
 }

/* amount */
.amount { position:relative; }
.amount .amount-num { display:block; padding-right:40px; }
.amount .amount-num + .amount-txt,
.amount .amount-num + .result-txt { position:absolute; right:15px; top:50%; transform:translate(0, -50%); font-size:1rem; line-height:1.188rem; font-weight:var(--w-bold); color:var(--normal); }

/* address */
.form-group.address.line { padding:20px 15px 15px 15px; }
.form-group.address .address-num { display:block; margin-bottom:10px; font-size:1.125rem; line-height:1.25rem; font-weight:500;  }
.form-group.address .address-text { font-size:0.875rem; line-height:1rem; font-weight:400; }

/*input-hyphen*/
.input-hyphen { display:flex; align-items:center; justify-content: center; font-size:var(--font14); }

/* 주민등록번호 뒷자리 1개 노출일 경우 */
.jumintext{ position:absolute; left:34px; top:50%; transform:translate(0, -50%); font-size:var(--font16); font-weight:var(--w-regular); color:var(--normal);  }

/* 인풋박스 */
.input-box-wrap { padding:20px 20px 30px; border:1px solid var(--background2); border-radius: 10px; }
.input-box .form-wrap { margin-top:0; }
.input-box .btn-cont-wrap { margin-top:30px; }
.form-wrap + .btn-cont-wrap { margin-top:20px; }

/*********************************************************************
버튼
*********************************************************************/
/* 공통 버튼 */
.form-group .btn { width:initial; padding:0 16px; height:46px; font-size:1rem; line-height:1.5rem; border-radius:4px; }
.fixed-btn-wrap { position:fixed; padding:15px; bottom:0; left:0; right:0; width:100%; z-index:20; text-align:center; background:linear-gradient(0deg, rgba(255,255,255,1) 89%, rgba(255,255,255,0) 100%); }
.btn { display:inline-block; padding:0 40px; height:54px; font-size:var(--font20); font-weight:var(--w-bold); text-align:center; vertical-align:middle; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; background:transparent; border:none; border-radius:6px; word-break:keep-all; cursor:pointer; }
.btn-cont-wrap,
.btn-wrap { z-index:2; position:relative; margin:40px 0; width:100%; text-align:center; }
.btn-wrap .btn + .btn { margin-left:20px; }
.btn-cont-wrap.right { display:flex; justify-content:flex-end; align-items:center; }/*버튼 오른쪽*/
.btn-cont-wrap.center { display:flex; justify-content: center; }
.btn-wrap.center { display:flex; justify-content:center; }

/* 버튼 종류 */
.btn.btn-primary { color:var(--white); background:var(--primary); }
.btn.btn-secondary { padding:0 60px; color:var(--normal); background:var(--border3); }
.btn.btn-close { padding:0 60px; width:initial; border:1px solid var(--border3); font-size:var(--font16); color:var(--normal); background:var(--background2); }
.btn.btn-icon { padding:0 40px 0 20px; height:44px; border:1px solid var(--border1); border-radius:6px; color:var(--normal); }
.btn.btn-icon::after { content:""; position:absolute; top:50%; transform:translateY(-50%); display:inline-block; margin-left:4px; width:20px; height:20px; background:url(../images/ic_plus.png)no-repeat 50%/20px auto; }
.btn.btn-cont { border:1px solid var(--normal); color:var(--normal); background:var(--white); }
.btn.btn-cont:hover { border:1px solid var(--secondary); color:var(--secondary); }
.btn.btn-bottom { padding:0px 60px; font-size:var(--font16);  color:var(--white); background:var(--primary); }
.btn.btn-bottom + .btn-bottom { margin-left:16px; }
.btn.btn-top { padding:7px; width:42px; height:42px; border:1px solid var(--border1); border-radius:50%; font-size:0; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='none' d='M-.35-.35h28v28h-28z' data-name='사각형 15900'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)' data-name='그룹 35699' transform='translate(.35 .35)'%3E%3Cg fill='none' stroke='%23757575' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' data-name='그룹 35702'%3E%3Cpath d='M13.46 20.83V3.26' data-name='선 1181'/%3E%3Cpath d='M20.16 24.06H6.78' data-name='선 1182'/%3E%3Cpath d='m6.84 14.2 6.63 6.64 6.62-6.63' data-name='패스 43994'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); background-repeat:no-repeat; background-position:center; }
.btn.btn-top:hover { border:1px solid var(--secondary); background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='none' d='M-.35-.35h28v28h-28z' data-name='사각형 15900'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)' data-name='그룹 35699' transform='translate(.35 .35)'%3E%3Cg fill='none' stroke='%23056ED6' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' data-name='그룹 35702'%3E%3Cpath d='M13.46 20.83V3.26' data-name='선 1181'/%3E%3Cpath d='M20.16 24.06H6.78' data-name='선 1182'/%3E%3Cpath d='m6.84 14.2 6.63 6.64 6.62-6.63' data-name='패스 43994'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
.form-group .btn.btn-search { width:62px; font-size:0; background:url(../images/ic_search.png)no-repeat #5474C0 50%/30px auto; }
.form-group .btn.btn-input { /*margin-left:7px;*/ border:none; font-size:1rem; color:var(--inactive); background-color:var(--background1); cursor:auto; }
.form-group .btn.btn-input.active { color:var(--white); background-color:var(--background3); cursor: pointer; /* 활성화 상태에서 커서 모양 */ }
.btn.btn-text { height:auto; font-size:var(--font16); color:var(--secondary); text-decoration:underline; }
.btn.btn-text.small { position:relative; padding-right:16px!important; width:initial; height:auto; font-size:var(--font14); line-height:1.31rem; font-weight:var(--w-regular); border-radius:0; color:var(--subtitle); text-decoration:none; }
.btn.btn-text.small::after { content:""; position:absolute; transform:translateY(-50%); top:50%; right:0; width:14px; height:14px; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' stroke='%23b7b7b7' stroke-width='1.5' d='M0 0h15v15H0z' data-name='사각형 3363'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='none' stroke='%23757575' stroke-linecap='round' stroke-linejoin='round' d='m6.93 3 4.57 4.57-4.57 4.57' data-name='패스 20464'/%3E%3C/g%3E%3C/svg%3E")no-repeat center; }
.btn.btn-text.medium { position:relative; padding-right:16px!important; font-size:var(--font16); line-height:1.5rem; font-weight:var(--w-regular); border-radius:0; width:initial; color:var(--subtitle); text-decoration:none; }
.btn.btn-text.medium::after { content:""; position:absolute; transform:translateY(-50%); top:50%; right:0; width:18px; height:18px; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' stroke='%23b7b7b7' stroke-width='1.5' d='M0 0h15v15H0z' data-name='사각형 3363'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='none' stroke='%23757575' stroke-linecap='round' stroke-linejoin='round' d='m6.93 3 4.57 4.57-4.57 4.57' data-name='패스 20464'/%3E%3C/g%3E%3C/svg%3E")no-repeat center; }
.btn.btn-text.small:hover,
.btn.btn-text.medium:hover { color:var(--secondary);}
.btn.btn-text.small:hover::after { background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' stroke='%23b7b7b7' stroke-width='1.5' d='M0 0h15v15H0z' data-name='사각형 3363'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='none' stroke='%23056ED6' stroke-linecap='round' stroke-linejoin='round' d='m6.93 3 4.57 4.57-4.57 4.57' data-name='패스 20464'/%3E%3C/g%3E%3C/svg%3E")no-repeat center; }
.btn.btn-text.medium:hover::after { background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' stroke='%23b7b7b7' stroke-width='1.5' d='M0 0h15v15H0z' data-name='사각형 3363'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='none' stroke='%23056ED6' stroke-linecap='round' stroke-linejoin='round' d='m6.93 3 4.57 4.57-4.57 4.57' data-name='패스 20464'/%3E%3C/g%3E%3C/svg%3E")no-repeat center;  }

.btn.btn-primary.disabled,/*팝업개발대응*/
.btn.disabled,
.btn:disabled { color:var(--inactive); background:var(--background1); }
.btn-cont-wrap .btn.btn-primary.disabled,
.btn-wrap .btn.btn-primary.disabled,
.btn-cont-wrap .btn.btn-close.disabled,
.btn-cont-wrap .btn.view.disabled,
.btn-wrap .btn.btn-close.disabled,
.btn-wrap .btn.view.disabled { color:var(--inactive); background:var(--background1); }

/* .btn:not(:disabled):not(.disabled) { cursor:pointer; } */
a.btn.disabled,
fieldset:disabled a.btn { pointer-events:none; }/*정의된 커서 옵션 비활성화*/

/* 툴팁 */
.tooltip-wrap { position:relative; display:inline-block; }
.tooltip-wrap .info-tooltip { display:inline-block; margin:-2px 0; width:18px; height:18px; text-indent:-9999px; overflow:hidden; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18'%3E%3Cg data-name='그룹 65014'%3E%3Cg data-name='그룹 43503'%3E%3Cg fill='none' stroke='%23757575' data-name='타원 554'%3E%3Ccircle cx='9' cy='9' r='9' stroke='none'/%3E%3Ccircle cx='9' cy='9' r='8.5'/%3E%3C/g%3E%3Cg data-name='레이어 2'%3E%3Cg fill='%23757575' stroke='%23757575' data-name='그룹 65016' transform='translate(6.27 2.06)'%3E%3Ccircle cx='1.28' cy='1.28' r='1.28' transform='translate(2.35)'/%3E%3Cpath d='m2.2 11.77 1.63-6.89-.9-.73L0 5.5l.53 1.16 1.75-.8-1.63 6.86.88.73 2.8-1.2-.5-1.17Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E")no-repeat center; }
.tooltip-wrap .tooltip-box { z-index:2; display:none; position:absolute; top:40px; left:-20px; padding:32px 32px 24px 20px; transition:all .2s ease; background:var(--white); filter: drop-shadow(0px 0 12px rgba(0, 0, 0, 0.08)); }
.tooltip-wrap .tooltip-box::before { content: ''; position: absolute; transform:rotate(270deg); top:-20px; left:20px; border-top:10px solid transparent; border-right:10px solid transparent; border-bottom:10px solid transparent; border-left:15px solid var(--white); }
.tooltip-wrap .tooltip-close { position:absolute; right:8px; top:8px; width:22px; height:22px; border:none; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23cccee4' d='M.3.3h18v18H.3z' data-name='사각형 3428'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)' transform='translate(1.7 1.7)'%3E%3Cg data-name='그룹 33768'%3E%3Cg data-name='그룹 1'%3E%3Cpath fill='none' stroke='rgba(102,102,102,0.8)' stroke-linecap='round' d='m4.3 4.3 10 10' data-name='선 113'/%3E%3C/g%3E%3Cg data-name='그룹 33767'%3E%3Cpath fill='none' stroke='rgba(102,102,102,0.8)' stroke-linecap='round' d='m14.3 4.3-10 10' data-name='선 113'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center; font-size:0; }
.tooltip-wrap.on .info-tooltip { background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18'%3E%3Cg data-name='그룹 65014'%3E%3Cg data-name='그룹 43503'%3E%3Cg fill='none' stroke='%23056ED6' data-name='타원 554'%3E%3Ccircle cx='9' cy='9' r='9' stroke='none'/%3E%3Ccircle cx='9' cy='9' r='8.5'/%3E%3C/g%3E%3Cg data-name='레이어 2'%3E%3Cg fill='%23757575' stroke='%23056ED6' data-name='그룹 65016' transform='translate(6.27 2.06)'%3E%3Ccircle cx='1.28' cy='1.28' r='1.28' transform='translate(2.35)'/%3E%3Cpath d='m2.2 11.77 1.63-6.89-.9-.73L0 5.5l.53 1.16 1.75-.8-1.63 6.86.88.73 2.8-1.2-.5-1.17Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E")no-repeat center; }
.tooltip-wrap.on .tooltip-box { width:310px; display:block; }
.tooltip-wrap.on .tooltip-box .tit { font-size:var(--font14); font-weight:var(--w-bold); color:var(--normal); }
.tooltip-wrap.on .tooltip-box .txt { font-size:var(--font14); font-weight:var(--w-regular); color:var(--normal); }

/* 비로그인 intro */
.btn.btn-text.big-line  { border-radius:0; width:initial; color:var(--white); border-bottom:1px solid var(--white); font-size:1.125rem; line-height:1.25rem; font-weight:700; }

/* 비로그인 intro2 */
.btn-wrap.style2 { margin-bottom:45px; }
.btn-wrap.style2 .btn.btn-text.big-line.big-line {  color:var(--secondary); border-bottom:1px solid var(--secondary); }

/* 로그아웃 */
.btn.logout { padding:6px 10px; border-radius: 32px;font-size:0.75rem; line-height:0.875rem; font-weight:400; color:#848B95; background:#EBEDEF; }

/* 전체메뉴 - 로그아웃  */
.btn.logout-text { padding-top:0; padding:0; border-radius:0; border-bottom:1px solid var(--white);  color:var(--background1); font-size:1rem; line-height:1.188rem; font-weight:500;  }


/** ratio/checkbox **/

/* ratio/checkbox absolute 필요 */
.radio-buttons,
.check-buttons {  display:flex; align-items:center; flex-wrap: wrap; gap:20px; }
.radio-buttons .radio-button,
.check-buttons .check-button { cursor:pointer; position:relative; font-size:var(--font16); color:var(--normal); }


/* 기존 ratio/checkbox 버튼 삭제 */
.radio-button input[type="radio"],
.check-button input[type="checkbox"] {  position:absolute; left:0; opacity:0; display:none; height:0; width:0; }

/* 기본 체크박스-다건선택일 경우 */
.check-buttons  { display:flex; flex-wrap:wrap;}
.check-buttons > li:first-child { margin-top:0; }
.check-buttons > li { width:inherit; margin-right:10px;}
.check-buttons > li input[type="checkbox"] + label span { position:relative; padding-left:34px; font-size:var(--font16); color:var(--normal); }
.check-buttons > li input[type="checkbox"] + label span::before { content:""; position:absolute; left:0; top:50%; transform: translateY(-50%); padding:2px; width:24px; height:24px; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cg data-name='그룹 85'%3E%3Cg fill='%23fff' stroke='%23ddd' data-name='사각형 171'%3E%3Cpath stroke='none' d='M0 0h23.91v23.91H0z'/%3E%3Cpath fill='none' d='M.5.5h22.91v22.91H.5z'/%3E%3C/g%3E%3Cpath fill='none' d='M0 0h24v24H0Z'/%3E%3Cpath fill='none' d='M4.8 0h14.4A4.8 4.8 0 0 1 24 4.8v14.4a4.8 4.8 0 0 1-4.8 4.8H4.8A4.8 4.8 0 0 1 0 19.2V4.8A4.8 4.8 0 0 1 4.8 0Z' data-name='Vector'/%3E%3Cpath fill='none' stroke='%23ddd' stroke-width='1.5' d='m18.13 8.01-8.5 8.5-3.88-3.86' data-name='Icon feather-check'/%3E%3C/g%3E%3C/svg%3E")no-repeat center; }

/* checked */
.check-buttons > li input[type="checkbox"]:checked + label { font-weight:var(--w-bold); color:var(--title); }
.check-buttons > li input[type="checkbox"]:checked + label span::before { content:''; position:absolute; left:0; top:50%; transform: translateY(-50%); width:24px; height:24px;  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cg data-name='그룹 85'%3E%3Cg fill='%23056ED6' stroke='%23056ED6' data-name='사각형 171'%3E%3Cpath stroke='none' d='M0 0h23.91v23.91H0z'/%3E%3Cpath fill='none' d='M.5.5h22.91v22.91H.5z'/%3E%3C/g%3E%3Cpath fill='none' d='M0 0h24v24H0Z'/%3E%3Cpath fill='none' d='M4.8 0h14.4A4.8 4.8 0 0 1 24 4.8v14.4a4.8 4.8 0 0 1-4.8 4.8H4.8A4.8 4.8 0 0 1 0 19.2V4.8A4.8 4.8 0 0 1 4.8 0Z' data-name='Vector'/%3E%3Cpath fill='none' stroke='%23fff' stroke-width='1.5' d='m18.13 8.01-8.5 8.5-3.88-3.86' data-name='Icon feather-check'/%3E%3C/g%3E%3C/svg%3E")no-repeat center; }

/* disabled */
.check-buttons > li input[type="checkbox"]:disabled + label span::before { background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cg data-name='그룹 85'%3E%3Cg fill='%23ccc' stroke='%23EAEAEA' data-name='사각형 171'%3E%3Cpath stroke='none' d='M0 0h23.91v23.91H0z'/%3E%3Cpath fill='none' d='M.5.5h22.91v22.91H.5z'/%3E%3C/g%3E%3Cpath fill='none' d='M0 0h24v24H0Z'/%3E%3Cpath fill='none' d='M4.8 0h14.4A4.8 4.8 0 0 1 24 4.8v14.4a4.8 4.8 0 0 1-4.8 4.8H4.8A4.8 4.8 0 0 1 0 19.2V4.8A4.8 4.8 0 0 1 4.8 0Z' data-name='Vector'/%3E%3Cpath fill='none' stroke='%23EAEAEA' stroke-width='1.5' d='m18.13 8.01-8.5 8.5-3.88-3.86' data-name='Icon feather-check'/%3E%3C/g%3E%3C/svg%3E")no-repeat center }

/* checkbox가 단건선택일 경우 */
.check-buttons > li.one-chk input[type="checkbox"] + label span::before { content:""; position:absolute; left:0; top:50%; transform: translateY(-50%); width:24px; height:24px; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cg fill='%23fff'%3E%3Cpath d='M12 23.5c-3.07 0-5.96-1.2-8.13-3.37A11.42 11.42 0 0 1 .5 12c0-3.07 1.2-5.96 3.37-8.13A11.42 11.42 0 0 1 12 .5c3.07 0 5.96 1.2 8.13 3.37A11.42 11.42 0 0 1 23.5 12c0 3.07-1.2 5.96-3.37 8.13A11.42 11.42 0 0 1 12 23.5Z'/%3E%3Cpath fill='%23ddd' d='M12 1C9.06 1 6.3 2.14 4.22 4.22A10.93 10.93 0 0 0 1 12c0 2.94 1.14 5.7 3.22 7.78A10.93 10.93 0 0 0 12 23c2.94 0 5.7-1.14 7.78-3.22A10.93 10.93 0 0 0 23 12c0-2.94-1.14-5.7-3.22-7.78A10.93 10.93 0 0 0 12 1m0-1a12 12 0 1 1 0 24 12 12 0 0 1 0-24Z'/%3E%3C/g%3E%3Cpath fill='none' stroke='%23ddd' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5' d='m8 13.07 2.75 2.72L16.73 9' data-name='Path 17'/%3E%3C/svg%3E")no-repeat center; }

/* checked */
.check-buttons > li.one-chk input[type="checkbox"]:checked + label span::before { content:''; position:absolute; left:0; top:50%; transform: translateY(-50%); width:24px; height:24px; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cg fill='%23086ED6'%3E%3Cpath d='M12 23.5c-3.07 0-5.96-1.2-8.13-3.37A11.42 11.42 0 0 1 .5 12c0-3.07 1.2-5.96 3.37-8.13A11.42 11.42 0 0 1 12 .5c3.07 0 5.96 1.2 8.13 3.37A11.42 11.42 0 0 1 23.5 12c0 3.07-1.2 5.96-3.37 8.13A11.42 11.42 0 0 1 12 23.5Z'/%3E%3Cpath fill='%23086ED6' d='M12 1C9.06 1 6.3 2.14 4.22 4.22A10.93 10.93 0 0 0 1 12c0 2.94 1.14 5.7 3.22 7.78A10.93 10.93 0 0 0 12 23c2.94 0 5.7-1.14 7.78-3.22A10.93 10.93 0 0 0 23 12c0-2.94-1.14-5.7-3.22-7.78A10.93 10.93 0 0 0 12 1m0-1a12 12 0 1 1 0 24 12 12 0 0 1 0-24Z'/%3E%3C/g%3E%3Cpath fill='none' stroke='%23fff' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5' d='m8 13.07 2.75 2.72L16.73 9' data-name='Path 17'/%3E%3C/svg%3E")no-repeat center; }

/* disabled */
.check-buttons > li.one-chk input[type="checkbox"]:disabled + label span::before { content:''; position:absolute; left:0; top:50%; transform: translateY(-50%); width:24px; height:24px; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cg fill='%23ccc'%3E%3Cpath d='M12 23.5c-3.07 0-5.96-1.2-8.13-3.37A11.42 11.42 0 0 1 .5 12c0-3.07 1.2-5.96 3.37-8.13A11.42 11.42 0 0 1 12 .5c3.07 0 5.96 1.2 8.13 3.37A11.42 11.42 0 0 1 23.5 12c0 3.07-1.2 5.96-3.37 8.13A11.42 11.42 0 0 1 12 23.5Z'/%3E%3Cpath fill='%23EAEAEA' d='M12 1C9.06 1 6.3 2.14 4.22 4.22A10.93 10.93 0 0 0 1 12c0 2.94 1.14 5.7 3.22 7.78A10.93 10.93 0 0 0 12 23c2.94 0 5.7-1.14 7.78-3.22A10.93 10.93 0 0 0 23 12c0-2.94-1.14-5.7-3.22-7.78A10.93 10.93 0 0 0 12 1m0-1a12 12 0 1 1 0 24 12 12 0 0 1 0-24Z'/%3E%3C/g%3E%3Cpath fill='none' stroke='%23EAEAEA' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5' d='m8 13.07 2.75 2.72L16.73 9' data-name='Path 17'/%3E%3C/svg%3E")no-repeat center; }

/* checkbox가 기본 체크박스 항목에 속하는 부가 체크박스일 경우  - 적합성 적정성 */
.check-buttons  { display:flex; flex-wrap:wrap;}
.check-buttons > li.sub-chk:first-child { margin-top:0; }
.check-buttons > li.sub-chk { width:inherit; margin-right:10px;}
.check-buttons > li.sub-chk input[type="checkbox"] + label { position:relative; padding-left:25px; font-size:var(--font16); }
.check-buttons > li.sub-chk input[type="checkbox"] + label::before { content:""; position:absolute; left:0; top:50%; transform: translateY(-50%); width:13px; height:13px;; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.43' height='10.1'%3E%3Cpath fill='none' stroke='%23ddd' stroke-width='1.5' d='m12.9.53-8.5 8.5L.53 5.17' data-name='Icon feather-check'/%3E%3C/svg%3E") no-repeat center; }

/* checked */
.check-buttons > li.sub-chk input[type="checkbox"]:checked + label { font-weight:var(--w-bold); color:var(--title); }
.check-buttons > li.sub-chk input[type="checkbox"]:checked + label::before { content:''; position:absolute; left:0; top:50%; transform: translateY(-50%); width:13px; height:13px; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.43' height='10.1'%3E%3Cpath fill='none' stroke='%23086ED6' stroke-width='1.5' d='m12.9.53-8.5 8.5L.53 5.17' data-name='Icon feather-check'/%3E%3C/svg%3E")no-repeat center; }

/* disabled */
.check-buttons > li.sub-chk input[type="checkbox"]:disabled + label { font-weight:var(--w-regular); color:var(--subtitle); }
.check-buttons > li.sub-chk input[type="checkbox"]:disabled + label::before { content:''; position:absolute; left:0; top:50%; transform: translateY(-50%); width:13px; height:13px; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.43' height='10.1'%3E%3Cpath fill='none' stroke='%23ccc' stroke-width='1.5' d='m12.9.53-8.5 8.5L.53 5.17' data-name='Icon feather-check'/%3E%3C/svg%3E")no-repeat center; }

/** 공통 - 약관 **/

/* 약관동의 text */
fieldset { border:none; }
.refer-txt { font-size:0.8rem; color:#999999; }
.refer-txt::before{ content:""; display:inline-block; position:absolute; margin-top:-10px; height:10px; width:100%; background: #F8F8FA; border-top: 1px solid #DDDFE9; }

/*** 체크박스/라디오 ***/
.terms-area { display:inline-block; max-width:557px; width:100%; border:1px solid var(--border3); }
.terms-wrap input[type="checkbox"] { display:block; position:absolute; top:0; left:0; width:100%; height:100%; appearance:none; background-color:transparent; -webkit-appearance:none; cursor: pointer; }

.terms-area + .form-group,
.tit-main-area + .result-wrap { margin-top:40px; }

/* [전체] - 전체체크 */
.chk-all + .terms-wrap.level2 { margin-top:20px; }
.terms-wrap.level1 { padding:12px 20px; border-bottom:1px solid var(--border3); }
.terms-wrap.level1 label > span { padding-left:34px; font-weight:var(--w-regular); color:var(--normal); }
.terms-wrap.level1 label::before { content:""; position:absolute; left:0; top:50%; transform: translateY(-50%); width:24px; height:24px; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cg fill='%23fff'%3E%3Cpath d='M12 23.5c-3.07 0-5.96-1.2-8.13-3.37A11.42 11.42 0 0 1 .5 12c0-3.07 1.2-5.96 3.37-8.13A11.42 11.42 0 0 1 12 .5c3.07 0 5.96 1.2 8.13 3.37A11.42 11.42 0 0 1 23.5 12c0 3.07-1.2 5.96-3.37 8.13A11.42 11.42 0 0 1 12 23.5Z'/%3E%3Cpath fill='%23ddd' d='M12 1C9.06 1 6.3 2.14 4.22 4.22A10.93 10.93 0 0 0 1 12c0 2.94 1.14 5.7 3.22 7.78A10.93 10.93 0 0 0 12 23c2.94 0 5.7-1.14 7.78-3.22A10.93 10.93 0 0 0 23 12c0-2.94-1.14-5.7-3.22-7.78A10.93 10.93 0 0 0 12 1m0-1a12 12 0 1 1 0 24 12 12 0 0 1 0-24Z'/%3E%3C/g%3E%3Cpath fill='none' stroke='%23ddd' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5' d='m8 13.07 2.75 2.72L16.73 9' data-name='Path 17'/%3E%3C/svg%3E")no-repeat center;; }
.terms-wrap.level1 label > a { position:relative; z-index:1; }
.terms-wrap.chk-all input[type="checkbox"]:checked + label::before { content:''; position:absolute; left:0; top:50%; transform: translateY(-50%); width:24px; height:24px; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cg fill='%23086ED6'%3E%3Cpath d='M12 23.5c-3.07 0-5.96-1.2-8.13-3.37A11.42 11.42 0 0 1 .5 12c0-3.07 1.2-5.96 3.37-8.13A11.42 11.42 0 0 1 12 .5c3.07 0 5.96 1.2 8.13 3.37A11.42 11.42 0 0 1 23.5 12c0 3.07-1.2 5.96-3.37 8.13A11.42 11.42 0 0 1 12 23.5Z'/%3E%3Cpath fill='%23086ED6' d='M12 1C9.06 1 6.3 2.14 4.22 4.22A10.93 10.93 0 0 0 1 12c0 2.94 1.14 5.7 3.22 7.78A10.93 10.93 0 0 0 12 23c2.94 0 5.7-1.14 7.78-3.22A10.93 10.93 0 0 0 23 12c0-2.94-1.14-5.7-3.22-7.78A10.93 10.93 0 0 0 12 1m0-1a12 12 0 1 1 0 24 12 12 0 0 1 0-24Z'/%3E%3C/g%3E%3Cpath fill='none' stroke='%23fff' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='1.5' d='m8 13.07 2.75 2.72L16.73 9' data-name='Path 17'/%3E%3C/svg%3E")no-repeat center; }
.terms-wrap.chk-all input[type="checkbox"]:checked + label span { font-weight:var(--w-bold); color:var(--title); }

/* [필수] - 개별체크 */
.terms-box { padding:20px; }
.terms-wrap.level2 + .level2 { margin-top:16px; }
.terms-wrap.level2 .btn.btn.btn-text.small { position:absolute; right:0; z-index:1; }
.terms-wrap.level2 + .terms-wrap.bg-box { margin-top:40px; }
.terms-wrap.level2 + .terms-wrap.bg-box + .terms-wrap.bg-box { margin-top:15px; }
.terms-wrap.level2 label { padding-left:23px; }
.terms-wrap.level2 label::before { content:""; position:absolute; left:0; top:50%; transform: translateY(-50%); width:24px; height:24px;; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.43' height='10.1'%3E%3Cpath fill='none' stroke='%23ddd' stroke-width='1.5' d='m12.9.53-8.5 8.5L.53 5.17' data-name='Icon feather-check'/%3E%3C/svg%3E") no-repeat center;  }
.terms-wrap.level2 label > span { display:inline-block; width:100%; padding-right:26px; color:var(--normal); }
.terms-wrap.level2 input[type="checkbox"]:checked + label::before { content:''; position:absolute; left:0; top:50%; transform: translateY(-50%); width:24px; height:24px; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.43' height='10.1'%3E%3Cpath fill='none' stroke='%23086ED6' stroke-width='1.5' d='m12.9.53-8.5 8.5L.53 5.17' data-name='Icon feather-check'/%3E%3C/svg%3E")no-repeat center; }
.terms-wrap.level2.no-ico label > span::after { display:none;}

.terms-wrap.level2 fieldset { display:flex; justify-content:space-between; }


/* [선택] - 개별체크 */
.terms-wrap .level3 { width:100%; margin:10px 0; padding:0 30px; font-size:0; }
.terms-wrap .level3 > div { width:50%; display:inline-block; }
.terms-wrap .level3 label { width:100%; padding:0; padding-left:30px; }
.terms-wrap .level3 label::after { display:none; }

.terms-area .terms-agr-wrap { display:inline-block; width:100%; margin-top:50px; }
.terms-area .terms-agr-wrap .terms-tit { font-weight:600; font-size:1rem; color:#000; margin-bottom:20px; }

/** ratio-기본 **/
/* .radio-buttons .radio-group { flex:1; position:relative; margin:10px 0; } */
.radio-buttons .radio-group input { margin-right:10px; }
.radio-buttons input[type="radio"] { display:none; }
.radio-buttons input[type="radio"] + label { padding-left:34px; font-weight:var(--w-regular); }
.radio-buttons input[type="radio"] + label::before { content:''; position:absolute; top:50%; transform: translateY(-50%); left:0; width:24px; height:24px; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='%23eaeaea' d='M12 0A12 12 0 1 1 0 12 12 12 0 0 1 12 0Z' data-name='패스 44179'/%3E%3Ccircle cx='5' cy='5' r='5' fill='%23fff' data-name='타원 43' transform='translate(6.9 6.9)'/%3E%3C/svg%3E")no-repeat center; cursor:pointer; }

/* checked */
.radio-buttons input[type="radio"]:checked + label { font-weight:var(--w-bold); color:var(--title); }
.radio-buttons input[type="radio"]:checked + label::before { content:''; position:absolute; top:50%; transform: translateY(-50%); left:0; width:24px; height:24px; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='%23086ED6' d='M12 0A12 12 0 1 1 0 12 12 12 0 0 1 12 0Z' data-name='패스 44179'/%3E%3Ccircle cx='5' cy='5' r='5' fill='%23fff' data-name='타원 43' transform='translate(6.9 6.9)'/%3E%3C/svg%3E")no-repeat center; cursor:pointer; }

/* form-group에 radio-box가 있을 경우 */
.radio-buttons.radio-box .radio-group {  width:calc((100% / 2) - 10px); }
.radio-buttons.radio-box .radio-button { padding:14px 0 14px 50px; width:100%; border:1px solid var(--border1); border-radius:4px; }
.radio-buttons.radio-box input[type="radio"] + label::before { left:16px; }

/** checkbox : on / off 스위치 토글 버튼 **/
.toggle-wrap .switch-btn  { display:inline-block; text-align:left; width:40px; height:27px; border-radius:25px; text-align:left; background-color:var(--background1); transition:all 0.2s; cursor:pointer; }
.toggle-wrap .switch-btn .off { position:absolute; right:12px; font-size:0.66667rem; line-height:27px; color:#999999; }
.toggle-wrap .switch-btn .on { /*margin-left:12px;*/ position:absolute; left:12px; font-size:0.66667rem;  color:#fff; line-height:27px; opacity:0; transition:all 0.2s; vertical-align:top; }
.toggle-wrap .switch-btn .inside { position:absolute; top:49%; left:3px; transform:translateY(-50%); width:20px; height:20px; border-radius:50%; background-color:#FFFFFF; box-shadow:0px 2px 5px 0px rgba(23,4,61,0.2); transition: all 0.2s; }
.toggle-wrap input:checked ~ label .switch-btn { background-color:var(--secondary); }
.toggle-wrap input:checked ~ label .off { display:none; }
.toggle-wrap input:checked ~ label .switch-btn .on { opacity:1; }
.toggle-wrap input:checked ~ label .switch-btn .inside { left:17px; }
.toggle-wrap input[type="checkbox"] { display:none; }
.toggle-wrap span { font-weight:400; color:#666666; font-size:0.77778rem; line-height:1.5;  }
.toggle-wrap label { display:block; /*width:60px;*/ height:27px; }
.toggle-wrap { margin-top:0; flex:1 1 auto; }

/*** 팝업 ***/
.layerpopup { position:fixed; top:0; left:0; display:none; overflow-y:auto; width:100%; height:100%; z-index:22; /*background:var(--white);*/ -webkit-overflow-scrolling:touch; outline:none; }
.layerpopup.type-alert .ly-cont-wrap + .btn-wrap { margin-top:40px; margin-bottom:0; }

.layerpopup.type-alert .ly-cont-wrap.has-height { min-height:350px; }

.layerpopup.type-alert .ly-cont-wrap.has-height2 { min-height:450px; }/*개발 test용*/


/*팝업 버튼*/
.layerpopup .btn-layer-close { position:absolute; /*top:0px;*/ right:0px; z-index:22; width:22px; height:22px; border:none; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22'%3E%3Cpath fill='%23666' d='M11 8.82 19.37.45a1.54 1.54 0 1 1 2.18 2.18L13.18 11l8.37 8.37a1.54 1.54 0 1 1-2.18 2.18L11 13.18l-8.37 8.37a1.54 1.54 0 1 1-2.18-2.18L8.82 11 .45 2.63A1.54 1.54 0 0 1 2.63.45Z'/%3E%3C/svg%3E") no-repeat center; text-indent:-9999px; }
.layerpopup.laypop .btn-wrap {position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); margin:28px 0; }
.layerpopup .btn-wrap button { margin:0; }
.layerpopup .btn-wrap .btn { padding:14px 60px; height:46px; font-size:var(--font16); font-weight:var(--w-bold); line-height:1rem; }
.layerpopup .btn-wrap .btn + .btn { margin-left:16px; }

.layerpopup .content-wrap { z-index:20; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); background:var(--white); }
.layerpopup.layer-up .content-wrap { border-radius:20px 20px 0 0; }

.layerpopup .sub-title { font-size:1rem; line-height:1.5rem; font-weight:700; color:var(--title); }
.layerpopup .sub-title + .sub-title { margin-top:10px; }
.layerpopup .sub-tit { margin-bottom:20px; font-weight:700; }

/* 레이어팝업-기본 */
.layerpopup.laypop .content-wrap { padding:0 30px; max-width:650px; width:100%; min-height:595px; }
.layerpopup.laypop .pop-header { position:fixed; top:0; left:0; right:0; height:58px; padding:18px 24px 18px 30px; border-bottom:1px solid var(--border1); background:var(--white);z-index:5;}
.layerpopup.laypop .pop-header .pop-title { font-size:var(--font22); font-weight:var(--w-bold); line-height:2.125rem; }
.layerpopup.laypop .btn-layer-close{ position:absolute; top:24px; right:24px; width:22px; height:22px; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22'%3E%3Cpath fill='%23666' d='M11 8.82 19.37.45a1.54 1.54 0 1 1 2.18 2.18L13.18 11l8.37 8.37a1.54 1.54 0 1 1-2.18 2.18L11 13.18l-8.37 8.37a1.54 1.54 0 1 1-2.18-2.18L8.82 11 .45 2.63A1.54 1.54 0 0 1 2.63.45Z'/%3E%3C/svg%3E") no-repeat center;text-indent:-9999px;}
.layerpopup.laypop .ly-con-wrap { margin-top:58px; padding-top:32px; max-height:432px; height:100%; overflow-y:auto; }

.layerpopup .ly-scroll-con { width:100%; height:100%; height:1px; overflow-y:auto; }
.layerpopup .ly-scroll-con::-webkit-scrollbar { width:14px; }
.layerpopup .ly-scroll-con::-webkit-scrollbar-thumb { width:11px; background-color:var(--border2); border-radius:2px; border-radius:2px; }
.layerpopup .ly-scroll-con::-webkit-scrollbar-track { width:14px; background-color:var(--background2); border-radius:5px; }
.layerpopup .ly-scroll-con::-webkit-scrollbar-button {  height:100%; }

/* 레이어 풀팝업 */
.layerpopup.laypop-all {position:fixed; top:0;left:0;right:0;bottom:0;width:100%;border-top:none;background:#000; opacity:0.3;z-index:21;}
.layerpopup.laypop-all .content-wrap {z-index:20; padding:20px; margin-top:45px;  border-radius:20px 20px 0 0; /*padding-bottom:150px;*/ background:var(--white);}
.layerpopup.laypop-all .pop-header {position:fixed; top:0; left:0; right:0;height:45px; padding:0 20px; background:var(--white);line-height:50px;z-index:5;}
.layerpopup.laypop-all .pop-header:has(+.pop-con-wrap>.default-wrap>.txt-list-wrap:first-child) { border:0; }
.layerpopup.laypop-all .pop-header .pop-title { text-align:center; font-size:1rem; font-weight:500; }
.layerpopup.laypop-all .btn-layer-close{position:fixed; top:5px;right:12px;width:22px;height:22px; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22'%3E%3Cpath fill='%23666' d='M11 8.82 19.37.45a1.54 1.54 0 1 1 2.18 2.18L13.18 11l8.37 8.37a1.54 1.54 0 1 1-2.18 2.18L11 13.18l-8.37 8.37a1.54 1.54 0 1 1-2.18-2.18L8.82 11 .45 2.63A1.54 1.54 0 0 1 2.63.45Z'/%3E%3C/svg%3E") no-repeat center;text-indent:-9999px;}
.layerpopup.laypop-all .ly-con-wrap { padding-bottom:80px; }
.layerpopup .btn-wrap.btn-primary .btn-layer-close { position:static; width:100%; padding:15px 0; height:49px; background-image: none; background-color: var(--secondary); text-indent:inherit; }
/* .layerpopup .btn-wrap.btn-close .btn-layer-close { position:static; padding:15px 0; height:49px; background-image: none; background-color: var(--secondary); text-indent:inherit; } */
/* .layerpopup.layer-up .btn-wrap .btn-layer-close { position:static; width:100%; height:60px; background:var(--secondary);} */

/** 알럿팝업 **/
/* .layerpopup.type-alert{border:none; border-radius:3px; box-shadow:0 4px 8px 0 rgba(0,0,0,0.50); }
.layerpopup.type-alert { width:100%; height:100%; position:fixed; left:0; background:none; }
.layerpopup.type-alert > div { z-index:999; position:absolute; left:50%;  background:var(--white); transform:translate(-50%,0); }


.layerpopup.type-alert .content-wrap .pop-btn-wrap { display:flex }

.layerpopup.type-alert .content-wrap { width:calc(100% - 25px); z-index:999; position:absolute; left:50%; bottom:15px; border-radius:10px; background:var(--white); transform:translate(-50%,0); } */
.layerpopup.type-alert .content-wrap { padding:40px 30px 30px; max-width:392px; width:100%; border-radius:16px; }
.type-alert { display:none; overflow: hidden; width:100%; position: fixed; /*right:0 !important;*/ top:auto !important; bottom:15px !important; z-index:999; padding-bottom:0px; border-radius:20px; box-sizing:border-box; }
.layerpopup.type-alert .content-wrap .ly-cont-wrap { font-size:var(--font16); font-weight:var(--w-regular); text-align:center; color:var(--title); }

/** 레이어팝업 **/
.laypop.on::before,
.type-alert.on::before { content:''; z-index:-1; position:fixed; left:0; top:0; display:inline-block; width:100%; height:100%; background:#000; opacity:0.3;  }
.layerpopup.on { z-index:105; }

/**** 리스트 ****/
.table-type { margin-bottom:40px; }
.table-type > div{ border-top:1px solid var(--border3); border-bottom:1px solid var(--border3); }
.table-type > div dt { margin:0; padding:20px; background:var(--background2); color:var(--normal); font-weight:700; text-align:center; }
.table-type > div dd { padding:20px; }
.table-type > div.col dl { display: table; width: 100%; border-bottom: 1px solid var(--border); }
.table-type > div.col dl + dl{ border-top:1px solid var(--border3); }

.table-type > div.col  dt,
.table-type > div.col  dd { width:auto; display:table-cell; }
.table-type > div.col  dt { width:190px; vertical-align:middle; font-size:var(--font16); font-weight:var(--w-bold); color:var(--title); }

/* 페이지네이션 */
.pagination-wrap { display:block; margin:40px auto; text-align:center; }
.pagination { display:inline-block; }
.pagination .btn-pg { display:inline-block; width:24px; height:24px; border:1px solid var(--border2); border-radius:4px; }
.pagination .btn-pg + .btn-pg { margin-left:8px; }
.pagination > a { float:left; }
.pagination ul { float:left; margin-right:28px; }
.pagination a + ul { margin-left:28px; }
.pagination ul li { float:left; padding:0 12px; line-height:1.5; }
.pagination ul li + li { margin-left:4px; }
.pagination a { font-size:var(--font16); }
.pagination a:hover, .pagination a:focus { font-weight:var(--w-bold); color:var(--title); background-color:transparent; }
.pagination a.active { font-weight:var(--w-bold); color:var(--title); text-decoration: underline; text-underline-offset:4px; }
.pagination a.active:hover,.pagination a.active:focus { text-decoration: underline; text-underline-offset:4px; }
.pagination a.prev { transform:rotate(180deg); background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.2' height='11.41'%3E%3Cpath fill='none' stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='m.7.7 6 5-6 5' data-name='Path 5'/%3E%3C/svg%3E")no-repeat center; }
.pagination a.next { background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.2' height='11.41'%3E%3Cpath fill='none' stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='m.7.7 6 5-6 5' data-name='Path 5'/%3E%3C/svg%3E")no-repeat center; }
.pagination a.last-prev { transform:rotate(180deg); background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.2' height='11.41'%3E%3Cg fill='none' stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-name='그룹 65114'%3E%3Cpath d='m.7.7 6 5-6 5' data-name='Path 5'/%3E%3Cpath d='m6.7.7 6 5-6 5' data-name='Path 5'/%3E%3C/g%3E%3C/svg%3E")no-repeat center; }
.pagination a.last-next { background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.2' height='11.41'%3E%3Cg fill='none' stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-name='그룹 65114'%3E%3Cpath d='m.7.7 6 5-6 5' data-name='Path 5'/%3E%3Cpath d='m6.7.7 6 5-6 5' data-name='Path 5'/%3E%3C/g%3E%3C/svg%3E")no-repeat center; }

.ir { overflow:hidden; text-indent:100%; white-space:nowrap; }

/** badge **/
.badge01, .badge02 { padding:6px 12px; border-radius:16px; font-size:var(--font14); font-weight:var(--w-bold); }

.badge01.mip { border:1px solid var(--tag1); color:var(--tag1); }
.badge01.rcar { border:1px solid var(--tag2); color:var(--tag2); }
.badge01.undecided { border:1px solid var(--tag3); color:var(--tag3); }
.badge01.lease { border:1px solid var(--tag4); color:var(--tag4); }

.badge02.personal { background-color:var(--tag5); color:#2B66F6; }
.badge02.company { background-color:var(--tag6); color:#802CE3; }
.badge02.work { background-color:var(--tag7); color:#FF0000; }
.badge02.meeting { background-color:var(--tag8); color:var(--inactive); }

/** step **/
ul.step-wrap.icon { display:flex; margin:0 auto; width:100%; max-width:558px; }
ul.step-wrap.icon li { width:100%; padding-top:44px; }
ul.step-wrap.icon li::before {  content:""; display:block; position:absolute; top:17px; right:-62px; width:126px; height:4px; border-radius:2px; background:var(--border3); }
ul.step-wrap.icon li:last-child:before { content:none; }
ul.step-wrap.icon li:last-of-type::before {  right:50%; width:50%; }
ul.step-wrap.icon li::after { content:"아이콘영역"; display:block; position:absolute; top:0; left:50%; transform:translate(-50%, 0); width:34px; height:34px; line-height:34px; border-radius:50%; background:var(--background); font-size:0; text-align:center; }
ul.step-wrap.icon li span{ display:block; width:100%; text-align:center; color:var(--subtitle); }
ul.step-wrap.icon li.on span { color:var(--normal); font-weight:var(--w-bold); }

ul.step-wrap.icon li.prev::after { background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34'%3E%3Cg data-name='그룹 64924'%3E%3Cg fill='%23fff' stroke='%230F3862' stroke-miterlimit='10' stroke-width='3'%3E%3Ccircle cx='17' cy='17' r='17' stroke='none'/%3E%3Ccircle cx='17' cy='17' r='15.5' fill='none'/%3E%3C/g%3E%3Cpath fill='%230F3862' d='m13.94 22.18-3.59-3.58a1.2 1.2 0 0 1 1.71-1.71l2.73 2.73 7.69-7.68a1.2 1.2 0 1 1 1.7 1.7l-8.53 8.54a1.2 1.2 0 0 1-1.71 0Z' data-name='Rectangle 2'/%3E%3C/g%3E%3C/svg%3E")no-repeat center; }
ul.step-wrap.icon li.prev::before { background:#C2CCD6; }
ul.step-wrap.icon li.on::after { background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34'%3E%3Cg data-name='그룹 64926' transform='translate(-579 -259)'%3E%3Ccircle cx='17' cy='17' r='17' fill='%230f3862' transform='translate(579 259)'/%3E%3Cpath fill='%23fff' d='M603.41 283h-16v-2h2.41l-.02-1.94a1 1 0 0 1 .29-.72l9.64-9.63a1 1 0 0 1 1.41 0l2.57 2.56a1 1 0 0 1 0 1.42l-8.32 8.31h8.02v2Zm-11.6-3.54v1.14l1.14.01 1.31-1.3-1.15-1.16Zm3.16-.86 6.62-6.62-1.16-1.15-6.62 6.62Z'/%3E%3C/g%3E%3C/svg%3E")no-repeat center; }
ul.step-wrap.icon li.next::after { background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34'%3E%3Cg data-name='그룹 64924'%3E%3Cg fill='%23fff' stroke='%23e2e2e2' stroke-miterlimit='10' stroke-width='3'%3E%3Ccircle cx='17' cy='17' r='17' stroke='none'/%3E%3Ccircle cx='17' cy='17' r='15.5' fill='none'/%3E%3C/g%3E%3Cpath fill='%23e2e2e2' d='m13.94 22.18-3.59-3.58a1.2 1.2 0 0 1 1.71-1.71l2.73 2.73 7.69-7.68a1.2 1.2 0 1 1 1.7 1.7l-8.53 8.54a1.2 1.2 0 0 1-1.71 0Z' data-name='Rectangle 2'/%3E%3C/g%3E%3C/svg%3E")no-repeat center; }

/* Custom CSS for Datepicker */
input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button { display: none; }
input[type="date"]::-webkit-calendar-picker-indicator { background: transparent; z-index: 1; }

input.datefrom:after{ position: absolute; top:50%; right:10px; content: ''; width: 20px; height:20px; background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cg data-name='그룹 64955'%3E%3Cpath fill='%23fff' d='M0 0h20v20H0z' data-name='사각형 24327'/%3E%3Cpath fill='%23222' d='M6 11h2v1H6z'/%3E%3Cpath fill='%23222' d='M9 11h2v1H9zM12 11h2v1h-2z' data-name='Rectangle'/%3E%3Cpath fill='none' stroke='%23333' stroke-miterlimit='10' d='M3 7.31V3.37h12.44A1.57 1.57 0 0 1 17 4.95V16H4.56A1.57 1.57 0 0 1 3 14.42V8.9'/%3E%3Cpath fill='none' stroke='%23222' stroke-linecap='square' stroke-miterlimit='10' d='M3.39 6.92H16.6'/%3E%3Cpath fill='none' stroke='%23333' stroke-miterlimit='10' d='M6.11 1v3.16M13.11 1v3.16'/%3E%3C/g%3E%3C/svg%3E") center center /contain; transform: translateY(-50%); z-index: 0; }
.ui-datepicker { top: 0; left: 0; transform: translateY(100%); }/* 인풋 필드 바로 아래에 위치시키기 */

/* 버튼에 포커스시 테두리 제거 */
.datepicker-button:focus { outline: none; }

/*********************************************************************
스크립트 있는 버전:tab-item
스크립트 없는 버전:tab-list
*********************************************************************/
.tabs-wrap .tab-item,
.tabs-wrap .tab-list { display:flex; align-items:center; position:relative; background:#fff; font-size:0; }
.tabs-wrap .tab-item li,
.tabs-wrap .tab-list li { display:inline-block; position:relative; padding:24px 10px; max-width:241px; width:100%; border:1px solid var(--border1); font-size:var(--font18); color:#999; }
.tabs-wrap .tab-item li:last-child,
.tabs-wrap .tab-list li:last-child { margin-right:0; }
.tabs-wrap .tab-item li a,
.tabs-wrap .tab-list li a { display:block; padding:0 2px; line-height:inherit; text-align:center; font-weight:var(--w-bold); color:var(--inactive); }
.tabs-wrap .tab-item li.on,
.tabs-wrap .tab-list li.on { border:2px solid var(--normal); border-bottom:2px solid var(--white); font-weight:var(--w-bold); color:var(--title); }
.tabs-wrap .tab-item li.on a,
.tabs-wrap .tab-list li.on a { color:var(--normal); font-weight:var(--w-bold); }
.tabs-wrap .tab-content > div  { margin-top:30px; }

/** 스크립트x - tab **/
.tabs-wrap.type2 .tab-item02 { display:flex; flex-wrap:wrap; align-items: center;gap:20px; }
.tabs-wrap.type2 .tab-item02 li { padding:30px 20px 28px; font-size:var(--font18); border:1px solid #DDDDDD87; border-radius:6px; background:var(--background4); }
.tabs-wrap.type2 .tab-item02 li.on { border:2px solid var(--background3); background:var(--white); }
.tabs-wrap.type2 .tab-item02 li a { display:block; min-width:120px; width:100%; text-align: center; padding:0; color:var(--inactive); }
.tabs-wrap.type2 .tab-item02 li.on a { font-weight:var(--w-bold); color:var(--title); }

/* tab-content */
.tab-content-area { margin-top:40px; }

/*********************************************************************
확인해 주세요
*********************************************************************/
.check-plz { margin-top:20px; border-radius:20px 20px 0 0; color:var(--title); background:var(--background4); }
.check-plz .plz-tit { padding:20px 0 20px 48px; border:1px solid var(--border1); border-radius:20px 20px 0 0; font-size:var(--font16); font-weight:var(--w-bold); background:var(--white); }
.check-plz .plz-tit::before { content:""; position:absolute; top:50%; transform:translateY(-50%); left:24px; display:block; width:14px; height:18px; background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='18'%3E%3Cg fill='%23fff' stroke-miterlimit='10' data-name='Rectangle 5'%3E%3Cpath d='m13 16.28-5.5-3.15-.5-.28-.5.28L1 16.28V2a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14.28Z'/%3E%3Cpath fill='%23666' d='M2 2v12.55l5-2.85 5 2.85V2H2m0-2h10a2 2 0 0 1 2 2v16l-7-4-7 4V2C0 .9.9 0 2 0Z'/%3E%3C/g%3E%3Cpath fill='%23666' d='M4 10V8h6v2Zm0-4V4h6v2Z' data-name='Rectangle 6'/%3E%3C/svg%3E")no-repeat center; }
.check-plz ul { padding:30px 0 30px 24px; }
.check-plz ul li + li { margin-top:20px; }

/*********************************************************************
결과값
*********************************************************************/
.result-area { margin:0 0 40px; padding:50px 0; border:1px solid var(--border1); border-radius:20px; background:var(--background4); }
.result-area::before { content:''; position:absolute; left:50px; top:50%; transform:translateY(-50%); display:inline-block; width:64px; height:64px; }
.text-wrap.result { padding-left:138px; }
.result-area .result ul { margin-top:16px; }
.result-area .result ul li { font-weight:var(--w-regular); color:var(--normal); }
.result-area .result ul li + li { margin-top:5px; }
.result-area .result ul li .blue { color:var(--secondary); }
/* 조회 결과가 없습니다 */
.result-area.nodata { text-align:center; background:var(--white); }
.result-area.nodata::before { position:initial; transform: unset; margin-bottom:32px; width:80px; height:80px; background:url(../images/nodata.png)no-repeat 50%/80px auto; }
/* 완료 */
.result-area.success::before { background:url(../images/success.png)no-repeat 50%/64px auto; }
/* 실패 */
.result-area.fail::before { background:url(../images/fail.png)no-repeat 50%/64px auto; }

/*********************************************************************
list-card
*********************************************************************/
.list-card-group { padding:24px 30px 29px; border:1px solid var(--border1); border-radius:20px; background:var(--white); }
.list-card-group + .list-card-group { margin-top:28px; }
.list-card-group .txt-list li { display:flex; justify-content: space-between; align-items:center; font-size:var(--font16); }
.list-card-group .txt-list li + li { margin-top:13px; }
.list-card-group .txt-list li .tit { font-size:var(--font18); font-weight:var(--w-bold); }
.list-card-group .txt-list li .txt { display:flex; align-items:center; font-weight:var(--w-light); color:var(--subtitle); }
.list-card-group .txt-list li .txt span { font-weight:var(--w-regular); color:var(--inactive); }

/* 첨부파일 있는 list */
.list-card-group .txt-list .icon { display:inline-block; }
.list-card-group .txt-list .icon li { display:inline-block; margin-right:10px;  font-size:0; }
.list-card-group .txt-list .icon li::before { content:""; display:inline-block; margin-top:4px; width:20px; height:20px; background:url(../images/attach.png)no-repeat 50%/20px auto; }
.list-card-group .txt-list .icon li + li { margin-top:0; }
.list-card-group .txt-list .data span::after { content:""; display:inline-block; margin:0 16px; width:1px; height:14px; background:var(--inactive); }
.list-card-group .txt-list .data span:last-child::after { content:none; }

/*********************************************************************
테이블 : table-row
*********************************************************************/
.table-row { text-align:center; }
.table-row thead tr th { padding:20px 0; border-right:1px solid var(--border3); border-top:1px solid var(--border2); border-bottom:1px solid var(--border3); font-size:var(--font18); font-weight:var(--w-bold); color:var(--normal); background:var(--background2); }
.table-row thead tr th:last-child { border-right:none; }
.table-row tbody tr td { padding:20px 0; border-bottom:1px solid var(--border3); border-left:1px solid var(--border3); font-weight:var(--w-regular); line-height:1.5; color:var(--normal); }
.table-row tbody tr td:first-child { border-left:none; }

