

/*********************************************************************
변수 - 공통 이미지
*********************************************************************/
:root {
    /*셀렉트/토글*/
    --svg-select-arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h20v20H0z' data-name='사각형 22269'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)' data-name='그룹 45678'%3E%3Cg data-name='그룹 45677'%3E%3Cpath fill='none' stroke='%23666666' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 3.99 3.99L13.98 8' data-name='패스 53126'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --svg-toggle-arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h20v20H0z' data-name='사각형 22269'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)' data-name='그룹 45678'%3E%3Cg data-name='그룹 45677'%3E%3Cpath fill='none' stroke='%23111111' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 3.99 3.99L13.98 8' data-name='패스 53126'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    
    /*유효성체크*/
    --svg-error-info: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cg data-name='그룹 65500'%3E%3Cg fill='%23fff' stroke='red' stroke-miterlimit='10' data-name='Oval 2' transform='translate(1 1)'%3E%3Ccircle cx='7' cy='7' r='7' stroke='none'/%3E%3Ccircle cx='7' cy='7' r='7.5' fill='none'/%3E%3C/g%3E%3Cpath fill='red' d='M7 11a1 1 0 1 1 1 1 1 1 0 0 1-1-1Zm.6-2a1 1 0 0 1-.88-.53l-.49-.92A2 2 0 0 1 6 6.63V5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v1.66a2 2 0 0 1-.24.96l-.48.86a1 1 0 0 1-.87.52Z' data-name='Combined Shape'/%3E%3C/g%3E%3C/svg%3E")no-repeat center;
    --svg-correct-info: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cg data-name='그룹 65500'%3E%3Cg fill='%23fff' stroke='%23056ED6' stroke-miterlimit='10' data-name='Oval 2' transform='translate(1 1)'%3E%3Ccircle cx='7' cy='7' r='7' stroke='none'/%3E%3Ccircle cx='7' cy='7' r='7.5' fill='none'/%3E%3C/g%3E%3Cpath fill='%23056ED6' d='M7 11a1 1 0 1 1 1 1 1 1 0 0 1-1-1Zm.6-2a1 1 0 0 1-.88-.53l-.49-.92A2 2 0 0 1 6 6.63V5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v1.66a2 2 0 0 1-.24.96l-.48.86a1 1 0 0 1-.87.52Z' data-name='Combined Shape'/%3E%3C/g%3E%3C/svg%3E")no-repeat center;

    /*텍스트버튼*/
    --svg-arrow:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' stroke='%23b7b7b7' stroke-width='1.5' d='M0 0h15v15H0z' data-name='사각형 3363'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='none' stroke='%23757575' stroke-linecap='round' stroke-linejoin='round' d='m6.93 3 4.57 4.57-4.57 4.57' data-name='패스 20464'/%3E%3C/g%3E%3C/svg%3E")no-repeat center;
    --svg-arrow-hover:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' stroke='%23056ED6' stroke-width='1.5' d='M0 0h15v15H0z' data-name='사각형 3363'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='none' stroke='%23056ED6' stroke-linecap='round' stroke-linejoin='round' d='m6.93 3 4.57 4.57-4.57 4.57' data-name='패스 20464'/%3E%3C/g%3E%3C/svg%3E")no-repeat center;

    /* 탑버튼 */
    --svg-top:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='none' d='M-.35-.35h28v28h-28z' data-name='사각형 15900'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)' data-name='그룹 35699' transform='translate(.35 .35)'%3E%3Cg fill='none' stroke='%23757575' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' data-name='그룹 35702'%3E%3Cpath d='M13.46 20.83V3.26' data-name='선 1181'/%3E%3Cpath d='M20.16 24.06H6.78' data-name='선 1182'/%3E%3Cpath d='m6.84 14.2 6.63 6.64 6.62-6.63' data-name='패스 43994'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")no-repeat center;
    --svg-top-hover:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='none' d='M-.35-.35h28v28h-28z' data-name='사각형 15900'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)' data-name='그룹 35699' transform='translate(.35 .35)'%3E%3Cg fill='none' stroke='%23056ED6' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' data-name='그룹 35702'%3E%3Cpath d='M13.46 20.83V3.26' data-name='선 1181'/%3E%3Cpath d='M20.16 24.06H6.78' data-name='선 1182'/%3E%3Cpath d='m6.84 14.2 6.63 6.64 6.62-6.63' data-name='패스 43994'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")no-repeat center;

}
.ir { position:absolute;clip:rect(1px 1px 1px 1px); width:1px; height:1px; margin:-1px; overflow: hidden;   }

/*********************************************************************
SELECT #셀렉트
*********************************************************************/

/*---------------------------------------------
	Select Reset
---------------------------------------------*/
.select-box > .se-select { position: relative;  display: inline-block; }
.select-box > .se-select select { line-height: initial; -webkit-appearance: none; -moz-appearance: none; -o-appearance:none; appearance: none;  border: none; border-radius: 0; background-color: none; outline: none; }
.select-box > .se-select select::-ms-expand { display: none; }
.select-box > .se-select select::-ms-value { background-color: transparent; color: var(--normal); }

/*---------------------------------------------
	Select Default
---------------------------------------------*/
.select-box > .se-select { width:100%; max-width:410px; }
.select-box > .se-select label { display:inline-block; font-size:var(--font14); color:var(--normal); }
.select-box > .se-select select { z-index:1; position:relative; width: 100%; height: 46px; padding: 14px 16px; line-height:1; font-size: var(--font16); font-weight:var(--w-regular); color:var(--subtitle); background-color:transparent; border: solid 1px var(--border1);  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
.select-box > .se-select::after {  content:''; position:absolute; right:16px; top:50%; transform:translateY(-50%); background-image: var(--svg-select-arrow); background-repeat: no-repeat; background-position: center; width:20px; height:20px; }
.select-box > .se-select select option { background-color:var(--white);  color: var(--normal); }
.select-box > .se-select select:disabled,
.select-box > .se-select select[disabled=disabled] { border-color: var(--border2); background-color:var(--white); color: var(--subtitle); opacity: 1; }
.select-box > .se-select select:disabled[data-status=readonly],
.select-box > .se-select select[disabled=disabled][data-status=readonly] {  border-color: var(--border2); background-color:var(--white); }
.select-box > .se-select select:disabled[data-status=readonly]:focus,
.select-box > .se-select select[disabled=disabled][data-status=readonly]:focus { background-color:var(--white); }
.select-box > .se-select select[data-status=error] { border-color: var(--error); background-color:var(--white); opacity: 1; }

/*---------------------------------------------
	Select Stove Custom
---------------------------------------------*/
.select-box > .se-select[data-stove=select] div.stove-dim { z-index: 100; display: none; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); }
.select-box > .se-select[data-stove=select] div.stove-dim.on { display: block; }
.select-box > .se-select[data-stove=select] div.stove-option-layer {z-index:101; overflow: hidden; position: absolute; left: 0px; width: 100%; background-color:var(--white); box-sizing: border-box; border: 1px solid transparent; border-color: var(--border2); outline: none; }
.select-box > .se-select[data-stove=select] div.stove-option-layer div.stove-options-title { display: none; }
.select-box > .se-select[data-stove=select] div.stove-option-layer div.stove-option-scroll { position: relative; width: 100%; height: 100%; max-height: 215px; overflow-y: auto; }
.select-box > .se-select[data-stove=select] div.stove-option-layer div.stove-option-scroll div.stove-options button.stove-option { width: 100%; height: 46px; padding: 14px 16px; font-size: var(--font16); line-height: 1; background-color:var(--white); border: none; text-align: left; color:var(--subtitle); box-sizing: border-box; cursor: pointer; }
.select-box > .se-select[data-stove=select] div.stove-option-layer div.stove-option-scroll div.stove-options button.stove-option.on { font-weight: var(--w-bold); }
.select-box > .se-select[data-stove=select] div.stove-option-layer div.stove-option-scroll div.stove-options button.stove-option:hover { background-color:var(--background2); color:var(--normal); }
.select-box > .se-select[data-stove=select] div.stove-option-layer div.stove-option-scroll div.stove-options button.stove-option[disabled] { background-color: transparent; opacity: 0.5; cursor: default; }
.select-box > .se-select[data-stove=select] div.stove-option-layer div.stove-option-scroll div.stove-options button.stove-option[disabled].on {  background-color: transparent; }
.select-box > .se-select[data-stove=select] div.stove-option-layer div.stove-option-scroll div.stove-options button.stove-option[disabled]:hover { font-weight: var(--w-regular); }
.select-box > .se-select[data-stove=select] div.stove-option-layer button.stove-btn-close { opacity: 0; position: absolute; top: 10px; right: 10px; width: 24px; height: 24px; border: 1px solid transparent; background-color: transparent; background-repeat: no-repeat; background-size: 24px; background-position: center center; cursor: pointer; }
.select-box > .se-select[data-stove=select] div.stove-option-layer.va-slide { position: fixed; top: auto; bottom: -100%; transition: bottom 300ms; border-color: transparent; border-radius: 10px 10px 0 0; overflow: hidden; }
.select-box > .se-select[data-stove=select] div.stove-option-layer.va-slide div.stove-options-title { display: block; z-index: 9; position: absolute; top: 0; left: 0x; width: 100%; height: 40px; padding: 7px 30px 0px 15px; background-color: var(--white); font-size: var(--font18); }
.select-box > .se-select[data-stove=select] div.stove-option-layer.va-slide div.stove-option-scroll { max-height: 400px; }
.select-box > .se-select[data-stove=select] div.stove-option-layer.va-slide div.stove-option-scroll div.stove-options { padding: 35px 0 10px 0; }
.select-box > .se-select[data-stove=select] div.stove-option-layer.va-slide div.stove-option-scroll div.stove-options button.stove-option { height: 46px; }
.select-box > .se-select[data-stove=select] div.stove-option-layer.va-slide button.stove-btn-close { z-index: 10; opacity: 1; }
.select-box > .se-select[data-stove=select] div.stove-option-layer.va-slide.on { bottom: 0px; }
.select-box > .se-select[data-stove=select] div.stove-option-layer.va-upshow { top: auto; bottom: 100%; }

/*---------------------------------------------
	Select Open
---------------------------------------------*/
.select-box > .se-select[data-stove=select][data-status=open]::after { transform:translate(0, -50%) rotate(-180deg); transition: all ease .2s; }

/*---------------------------------------------
	Select Readonly, Disabled
---------------------------------------------*/
/* .select-box > .se-select[data-stove=select] select[data-status=readonly],
.select-box > .se-select[data-stove=select] select[disabled]  {  } */

/*---------------------------------------------
	Select Focus
---------------------------------------------*/
.select-box > .se-select[data-stove=select][data-status=open] select,
.select-box > .se-select[data-stove=select][data-status=open] select:focus,
.select-box > .se-select select:focus { border: 1px solid var(--normal); }
.select-box > .se-select[data-stove=select] div.stove-option-layer div.stove-option-scroll div.stove-options button.stove-option:focus { border: 1px solid var(--normal); }

/*---------------------------------------------
	Select select
---------------------------------------------*/
.select-box > .se-select[data-stove=select] select{ color:var(--normal); }


/*********************************************************************
FORM #폼
*********************************************************************/

/*---------------------------------------------
	Form Common Layout
---------------------------------------------*/
.form-group label { margin-bottom:14px; line-height:1; font-size:var(--font14); color:var(--inactive); } /*라벨*/
.form-group.check label,
.form-group.radio label { margin-bottom:0; }/*체크, 라디오 라벨*/
.form-wrap .form-group:first-child { margin-top:0; }
.form-wrap .form-group { margin-top:24px; }
.form-group:not(.form-group.other) { max-width:410px; }
.form-group .form-row { display:flex; flex-wrap:nowrap; width:100%; gap:10px; }
/** Form Layout - 컨포넌트 3개 이상일 경우 **/
.form-group.other .select-box { width:100%; max-width:162px; }
.form-group.other .col { width:100%; max-width:300px; }
/** Form Layout - checkbox/radio **/
.form-group.check ul.check-box,
.form-group.radio ul.radio-box { display:flex; flex-wrap:wrap; gap:20px; }

/*********************************************************************
INPUT  #인풋
*********************************************************************/

/*---------------------------------------------
	Input Reset
---------------------------------------------*/
input { display:block; width:100%; line-height:initial; box-sizing:border-box; border:none; border-radius: 0; background-color: none; -webkit-appearabce:none; -moz-appearance: none; appearance: none; white-space: nowrap; overflow:hidden; outline:none;  }
/** Firefox Browser **/
input[type=number],
input[type=number] { -moz-appearance: textfield; }
/** Webkit Browser (예: Chrome, Safari) **/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
/** Edge Browser **/
input[type="password"]::-ms-reveal { display: none; }
input[type='radio'],
input[type='checkbox'] { display:none; box-sizing: border-box; padding:0; }
input::-ms-clear,
input::-ms-reveal { display: none;}

/*---------------------------------------------
	Input Default
---------------------------------------------*/
input.form-control,
.form-group .file-st { padding:0 16px; height:46px; line-height:1.188rem; font-size:var(--font16); font-weight:var(--w-regular); color:var(--subtitle); border:1px solid var(--border2); background-color: var(--white); transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;  }
input.form-control::placeholder { color:var(--subtitle); }
input.form-control::-moz-placeholder,
input.form-control::-ms-input-placeholder { color:var(--subtitle); }
input.form-control:focus { border-color:var(--normal); color:var(--normal); }
input.form-control:valid { color:var(--normal); }
input.form-control:disabled { background: var(--background2); }
input.form-control:read-only { border:1px solid var(--border2); }

/*---------------------------------------------
	Input 첨부파일 File Custom
---------------------------------------------*/
.form-group .file-st { display:flex; align-items: center; width:100%; max-width:410px; }
input.form-control.plus-file { position:absolute; left:0; top:0; width:100%; height:100%; opacity: 0; cursor: pointer; font-size:0; max-width:410px; z-index:1; }

/*---------------------------------------------
	Input 주민등록번호 Number Custom
---------------------------------------------*/
.input-hyphen { display:flex; align-items: center; justify-content: center; font-size:var(--font14); }
.jumintext { position:absolute; left:34px; top:50%; transform: translateY(-50%); font-size:var(--font16); font-weight: var(--w-regular); color:var(--normal); }
/*---------------------------------------------
	Input 원/개월/% Text Custom
---------------------------------------------*/
.amount { position:relative; }
.amount .amount-txt { position:absolute; transform: translateY(-50%); top:50%; right:16px; font-size:var(--font16); font-weight:var(--w-bold); color:var(--normal); }

/*---------------------------------------------
	Input 유효성체크
---------------------------------------------*/
.form-group.error .info,
.form-group.correct .info { padding-left:24px; margin-top:8px; font-size:var(--font14); font-weight:var(--w-regular); }
.form-group.error .info { color:var(--error); }
.form-group.correct .info { color:var(--secondary); }
.form-group.error .info:before,
.form-group.correct .info:before { content:''; position:absolute; top:50%; left:0; transform:translateY(-50%); width:16px; height:16px; }
.form-group.error .info:before { background: var(--svg-error-info);  }
.form-group.correct .info:before { background: var(--svg-correct-info); }
.form-group input.form-control[data-status=error],
.form-group.error input.form-control { border:1px solid var(--error); }


/*********************************************************************
INPUT_ CHECKBOX/RADIO/Toggle  #체크박스 #라디오 #토글
*********************************************************************/
/*---------------------------------------------
	Input_CheckBox/Radio Default
---------------------------------------------*/
.form-group > .check-box .check-button,
.form-group > .radio-box .radio-button { position:relative; }
.form-group > .check-box input[type='checkbox'] + .check-button span,
.form-group > .radio-box input[type='radio'] + .radio-button span { padding-left:34px; color:var(--normal); }/*TEXT*/
.form-group > .check-box input[type='checkbox']:checked + .check-button span,
.form-group > .radio-box input[type='radio']:checked + .radio-button span { color:var(--title); font-weight: var(--w-bold);} /*TEXT*/

/*---------------------------------------------
	Input_Checkbox Style
---------------------------------------------*/
.form-group > .check-box input[type='checkbox']:checked + .check-button span::before { border:1px solid var(--secondary); background:url(../images/common/ic_check_on.png)no-repeat var(--secondary) 50%/12px auto; }
.form-group > .check-box input[type='checkbox']:disabled + .check-button span::before { border:1px solid var(--border2);  background:url(../images/common/ic_check_off.png)no-repeat var(--background1) 50%/12px auto; }
.form-group > .check-box input[type='checkbox'] + .check-button span::before,
.form-group > .radio-box input[type='radio'] + .radio-button span::before { content:''; position:absolute; left: 0; top: 50%; transform: translateY(-50%); width: 24px; height: 24px;  }
.form-group > .check-box input[type='checkbox'] + .check-button span::before { border:1px solid var(--border1); background:var(--white); background:url(../images/common/ic_check_off.png)no-repeat 50%/12px auto; }

/** 라운드일 경우 **/
.form-group.round > .check-box input[type='checkbox'] + .check-button span::before { border-radius: 50%; }

/*---------------------------------------------
	Input_Radio Style
---------------------------------------------*/
.form-group > .radio-box input[type='radio'] + .radio-button span::before { background:var(--white); border:6.5px solid var(--background1); border-radius:50%; }
.form-group > .radio-box input[type='radio']:checked + .radio-button span::before { border:6.5px solid var(--secondary); }

/*---------------------------------------------
	Input_Toggle style
---------------------------------------------*/
.form-group > .toggle-box input[type='checkbox'] + .toggle-button { display:inline-block; position:relative; width:40px; height:24px; border-radius:25px; background:var(--background1); transition: all 0.2s; }
.form-group > .toggle-box input[type='checkbox'] + .toggle-button::before { content:''; position:absolute; top:50%; left:3px; transform: translateY(-50%); width:20px; height:20px; border-radius: 50%; background: var(--white); box-shadow:0px 2px 5px 0px rgba(23,4,61,0.2); transition: all 0.5s; }
.form-group > .toggle-box input[type='checkbox']:checked + .toggle-button::before { right:3px; left:inherit; }
.form-group > .toggle-box input[type='checkbox']:checked + .toggle-button { background: var(--secondary);}

/*********************************************************************
Button #버튼
*********************************************************************/
/*---------------------------------------------
	Button
---------------------------------------------*/
[class*='btn']:focus { outline:none; }/*웹접근성 고려 시 색상 변경 필요*/
/* [class*='btn-primary']:not(.disabled):focus{ outline:2px solid var(--secondary); } */
.btn-wrap { font-size:0; }/* Button Reset */

/*---------------------------------------------
	Button Layout
---------------------------------------------*/
.btn-wrap button.btn:first-child { margin-left:0; }/*공통*/
.btn-wrap button.btn { margin-left:16px; }/*공통*/
.btn-wrap.cont { margin:40px 0; }/* 컨테츠 버튼 */
.btn-wrap.bottom { margin:60px 0 40px; }/* 컨테츠 하단 버튼 */
.btn-wrap.popup { margin:28px 0; }/* 팝업 버튼 */
.btn-wrap.alert { margin:40px 0 30px; }/* 알럿 버튼 */

/*---------------------------------------------
	Button Default
---------------------------------------------*/
button.btn { display:inline-block; padding:0 40px; margin:0; height:54px; font-size:var(--font20); font-weight:var(--w-bold); text-align:center; vertical-align:middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;  user-select: none; background: transparent; border: transparent; border-radius: 6px;  word-break: keep-all; cursor: pointer; }

/*---------------------------------------------
	Button Style
---------------------------------------------*/

/*하단버튼*/
button.btn.btn-primary { color:var(--white); background:var(--primary); }
button.btn.btn-primary.disabled { color:var(--inactive); background: var(--background1); }
button.btn.btn-secondary { color:var(--normal); background:var(--border3); }

/*컨텐츠버튼*/
button.btn.btn-cont:hover{ border:1px solid var(--secondary); color:var(--secondary); }
button.btn.btn-cont { border:1px solid var(--normal); color:var(--normal); background:var(--white); }

/*폼버튼*/
button.btn.btn-input { height:46px; padding:0 16px; font-size:var(--font16); color:var(--inactive); background:var(--background1); }
button.btn.btn-input.active { color:var(--white); background: var(--background3); }

/** 팝업 및 알럿 버튼 **/
button.btn.btn-close { padding:0 60px; color:var(--normal); background:var(--background2); }
button.btn.btn-bottom { padding:0px 60px; color:var(--white); background:var(--primary); }

button.btn.btn-text { position:relative; padding:0; border:none; height:auto; font-size:var(--font16);  color:var(--secondary); text-decoration: underline; } /*텍스트 버튼 - underline*/

/** 텍스트 버튼 - medium,small **/
button.btn.btn-text.medium,
button.btn.btn-text.small  { font-weight:var(--w-regular); color:var(--subtitle); text-decoration: none; }
button.btn.btn-text.small { font-size:var(--font14); }
button.btn.btn-text.medium::after,
button.btn.btn-text.small::after { content:''; position:absolute; transform: translateY(-50%); top:50%; right:-14px; background:var(--svg-arrow); }
button.btn.btn-text.medium::after { width:18px; height:18px; }
button.btn.btn-text.small::after { width:14px; height:14px; }
button.btn.btn-text.medium:hover,
button.btn.btn-text.small:hover { color:var(--secondary); }
button.btn.btn-text.medium:hover::after,
button.btn.btn-text.small:hover::after { background:var(--svg-arrow-hover); }

/** 아이콘 버튼 **/
button.btn.btn-icon { padding:0 44px 0 20px; height:44px; border:1px solid var(--border1); border-radius:6px; color:var(--normal); }
button.btn.btn-icon:after { content:''; position:absolute; transform: translateY(-50%); top:50%; right:20px; width:20px; height:20px; background: url(../images/ic_plus.png)no-repeat 100%/20px auto; }

/** 탑 버튼 **/
button.btn.btn-top { padding:7px; width:42px; height:42px; border:1px solid var(--border1); border-radius: 50%; background: var(--svg-top); transform: rotate(-180deg); }
button.btn.btn-top:hover { border:1px solid var(--secondary); background: var(--svg-top-hover);}


/*********************************************************************
TOGGLE_ACCORDION #토글_아코디언 [QnA]
*********************************************************************/

/*---------------------------------------------
	Toggle_Accordion Default
---------------------------------------------*/
.accordion-wrap > .accordion-info:first-child { margin-top:0; }
.accordion-wrap > .accordion-info { margin-top:20px; border:1px solid #DDDDDD; border-radius: 20px; }
.accordion-wrap > .accordion-info > .ques { position:relative; display:flex; width:100%; justify-content:space-between; padding:30px; font-size: var(--font18); font-weight:var(--w-bold); color:var(--title);  }
.accordion-wrap > .accordion-info > .ques::after { content:''; position:absolute; right:30px; top:50%; transform:translateY(-50%); background-image: var(--svg-select-arrow); background-repeat: no-repeat; background-position: center; background-size:30px; width:24px; height:24px; }
.accordion-wrap > .accordion-info > .ques.active::after { transform:translate(0, -50%) rotate(-180deg); transition: all ease .2s; }
.accordion-wrap > .accordion-info > .ques .date { font-size:var(--font16); font-weight:var(--w-regular); color:var(--inactive); }
.accordion-wrap > .accordion-info > .ques-cont{ height:0; opacity: 0; overflow: hidden; padding-top:0; transition: height .2s ease, opacity .2s ease, padding-top .2s ease; }
.accordion-wrap > .accordion-info > .ques-cont.active{ height:auto; opacity:1; border-top:1px solid #DDDDDD; background: #F9FAFC; padding:30px; font-size:var(--font16); font-weight:var(--w-bold); color:var(--inactive);}

/*---------------------------------------------
	Toggle_Accordion 아이콘있을 경우
---------------------------------------------*/
.accordion-wrap.ico > .accordion-info > .ques::before,
.accordion-wrap.ico > .accordion-info > .ques-cont p::before { content:''; position:absolute; width:24px; height:24px; }
.accordion-wrap.ico > .accordion-info > .ques::before { left:24px; background: url(../../resources/images/ic_question.png) no-repeat 100%/24px auto;  }
.accordion-wrap.ico > .accordion-info > .ques { padding:30px 74px 30px 54px; }
.accordion-wrap.ico > .accordion-info > .ques-cont p::before { left:0; background: url(../../resources/images/ic_answer.png) no-repeat 100%/24px auto; }
.accordion-wrap.ico > .accordion-info > .ques-cont p { padding-left:34px; }