<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="ORIX Capital keywords">
<meta name="description" content="ORIX Capital description">

<meta property="og:locale" content="ko_KR" />
<meta property="og:type" content="website" />

<title>슈퍼 관리자 신청 > 신청완료</title>

<link href="../../resources/css/default.css" rel="stylesheet" type="text/css" />
<link href="../../resources/css/ui_common.css" rel="stylesheet" type="text/css" />
<link href="../../resources/css/media-query.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="../../resources/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../resources/js/jquery-ui-1.12.1.js"></script>
<script type="text/javascript" src="../../resources/js/ui_common.js"></script>
<script type="text/javascript" src="../../resources/js/ui_plugin.js"></script>
<script type="text/javascript" src="../../resources/js/default.js"></script>

</head>
<body>
<div class="wrap login">
    <!-- s:header -->
    <div class="login-header">
        <img src="../../resources/images/login_logo.png" alt="오릭스캐피탈코리아 로고">
        <h2>
            슈퍼 관리자 신청
            <span>오릭스캐피탈코리아 신차 영업 플랫폼 입니다.</span>
        </h2>
    </div>
    <!-- //e:header -->
    <!-- s:contentWrap -->
    <div id="contentWrap" class="sub-content">
        <!-- s:contents -->
        <div class="contents">
            <ul class="step-wrap">
                <li class="prev"><span>휴대폰 본인인증</span></li>
                <li class="prev"><span>정보입력</span></li>
                <li class="on"><span>신청완료</span></li>
            </ul>
            <div class="result-area success">
                <div class="text-wrap result">
                    <h3>슈퍼 관리자 신청이 완료되었습니다.</h3>
                    <ul>
                        <li>검토 후 입력하신 <span class="blue">승인여부</span> 문자가 발송 될 예정입니다.</li>
                    </ul>
                </div>
            </div>
            <form>
                <div class="sub-text-wrap style2">
                    <h4>신청내역</h4>
                </div>
                <div class="table-type">
                    <div class="col">
                        <dl>
                            <dt>아이디/비밀번호</dt>
                            <dd>
                                Abcdef / **********
                            </dd>
                        </dl>
                        <dl>
                            <dt>항목2</dt>
                            <dd>
                                상세 설명이 들어갑니다.
                            </dd>
                        </dl>
                        <dl>
                            <dt>항목3</dt>
                            <dd>
                                상세 설명이 들어갑니다.
                            </dd>
                        </dl>
                        <dl>
                            <dt>항목4</dt>
                            <dd>
                                상세 설명이 들어갑니다.
                            </dd>
                        </dl>
                    </div>
                </div>
            </form>
            <div class="btn-wrap bottom">
                <button type="button" name="button" class="btn btn-primary">확인</button>
            </div>
        </div>
        <!-- //e:contents -->
    </div>
    <!-- //e:contentWrap -->
    <!-- s:footer -->
    <div id="footerWrap">
        <script>
            $(document).ready(function(){
                $("#footerWrap").load("../INCLUDE/inc_footer.html");
            });
        </script>
    </div>
    <!-- //e:footer -->
</div>
</body>

</html>