<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="ORIX Capital keywords">
<meta name="description" content="ORIX Capital description">

<meta property="og:locale" content="ko_KR" />
<meta property="og:type" content="website" />

<title>슈퍼 관리자 신청 > 신청 정보입력</title>

<link href="../../resources/css/default.css" rel="stylesheet" type="text/css" />
<link href="../../resources/css/ui_common.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="../../resources/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../resources/js/jquery-ui-1.12.1.js"></script>
<script type="text/javascript" src="../../resources/js/ui_common.js"></script>
<script type="text/javascript" src="../../resources/js/ui_plugin.js"></script>
<script type="text/javascript" src="../../resources/js/default.js"></script>

</head>
<body>
<div class="wrap login">
    <!-- s:header -->
    <div class="login-header">
        <img src="../../resources/images/login_logo.png" alt="오릭스캐피탈코리아 로고">
        <h2>
            슈퍼 관리자 신청
            <span>오릭스캐피탈코리아 신차 영업 플랫폼 입니다.</span>
        </h2>
    </div>
    <!-- //e:header -->
    <!-- s:contentWrap -->
    <div id="contentWrap" class="sub-content">
        <!-- s:contents -->
        <div class="contents">
            <ul class="step-wrap">
                <li class="prev"><span>휴대폰 본인인증</span></li>
                <li class="on"><span>정보입력</span></li>
                <li class="next"><span>신청완료</span></li>
            </ul>
            <form>
                <div class="sub-text-wrap style2">
                    <h4>신청 정보입력</h4>
                </div>
                <div class="table-type">
                    <div class="col">
                        <dl>
                            <dt>성명</dt>
                            <dd class="form-group">
                                <input id="" title="성명" type="text" name="" class="form-control" value="김오릭" disabled>
                            </dd>
                        </dl>
                        <dl>
                            <dt>휴대폰번호</dt>
                            <dd class="form-group">
                                <input id="" title="휴대폰번호" type="text" name="" class="form-control" value="010-1234-5678" disabled>
                            </dd>
                        </dl>
                        <dl>
                            <dt>회사명</dt>
                            <dd class="form-group">
                                <div class="select-box">
                                    <div class="stove-dim"></div>
                                    <div class="se-select ei-w160" data-stove="select">
                                        <select class="" title="메뉴구분">
                                            <option value="" disabled="" selected="" hidden="">선택</option><!-- [D] : default - 셀렉트의 placeholder 기능-->
                                            <option value="0">option 00</option>
                                            <option value="1">option 01</option>
                                            <option value="2">option 02</option>
                                        </select>
                                        <div class="e-select-dim"></div>
                                    </div>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>아이디</dt>
                            <dd class="form-group">
                                <div class="form-row"><!-- [D] 인풋/버튼 클릭 시 팝업 호출 영역  -->
                                    <div class="col-1">
                                        <input id="" title="아이디" type="text" class="form-control" name="" placeholder="아이디 입력">
                                    </div>
                                    <button class="btn btn-input active" type="button">중복 체크</button><!-- [D] active 클래스 : 완료 됐을 경우 활성화 -->
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>비밀번호</dt>
                            <dd class="form-group">
                                <input id="" title="비밀번호" type="text" name="" class="form-control" placeholder="영문/숫자 포함 8자리 이상 입력">
                            </dd>
                        </dl>
                        <dl>
                            <dt>비밀번호 확인</dt>
                            <dd class="form-group">
                                <input id="" title="비밀번호 확인" type="text" name="" class="form-control" placeholder="비밀번호 확인 입력">
                            </dd>
                        </dl>
                    </div>
                </div>
            </form>
            <div class="btn-wrap bottom">
                <button type="button" name="button" class="btn btn-primary">신청</button>
            </div>
            <div class="check-plz">
                <p class="plz-tit">확인해 주세요</p>
                <ul class="bul-hypn">
                    <li>비밀번호는 영문, 숫차 포함 8자리 이상 가능합니다.</li>
                </ul>
            </div>
        </div>
        <!-- //e:contents -->
    </div>
    <!-- //e:contentWrap -->
    <!-- s:footer -->
    <div id="footerWrap">
        <script>
            $(document).ready(function(){
                $("#footerWrap").load("../INCLUDE/inc_footer.html");
            });
        </script>
    </div>
    <!-- //e:footer -->
</div>
</body>

</html>