<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datepicker Range with Icon Button</title>
    <link href="../../resources/css/default.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/ui_common.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/media-query.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="../../resources/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../resources/js/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript" src="../../resources/js/ui_common.js"></script>
    <script type="text/javascript" src="../../resources/js/ui_plugin.js"></script>
    <script type="text/javascript" src="../../resources/js/default.js"></script>
</head>
<body>
    <div class="movepage">
        <ul>
            <li>
                이전 글
                <ul>
                    <li class="tit">이전글 제목</li>
                    <li class="date">2024.08.24</li>
                    <li class="left">
                        <ul class="icon">
                            <li>첨부파일아이콘</li>
                            <li>첨부파일아이콘</li>
                            <li>첨부파일아이콘</li>
                        </ul>
                        <span>: 첨부파일</span>
                    </li>
                </ul>
            </li>
            <li>
                다음 글
                <ul>
                    <li class="tit">다음글 제목</li>
                    <li class="date">2024.09.02</li>
                    <li class="right">
                        <span>첨부파일 :</span>
                        <ul class="icon">
                            <li>첨부파일아이콘</li>
                            <li>첨부파일아이콘</li>
                            <li>첨부파일아이콘</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <table class="thead">
            <tr>
                <td>제목1</td>
                <td>제목2</td>
            </tr>
        </table>
        
        <table aria-hidden=“aria-hidden”>
            <colgroup>
                <col width="10%" />
                <col width="*" />
            </colgroup>
            <tr>
                <td>1</td>
                <td>2</td>
            </tr>
        </table>
        <div style="height:300px;">
            <table summary="">
                <caption></caption>
                <colgroup>
                    <col width="10%" />
                    <col width="*" />
                </colgroup>
                <thead>
                    <tr>
                        <th scope=“col”>1</th>
                        <th scope=“col”>2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>a</td>
                        <td>b</td>
                    </tr>
                </tbody>
            </table>
        </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</body>
</html>