@charset "UTF-8";

.unit { display:inline-block; position:absolute; top:50%; right:0; transform: translate(0, -50%); }

/* 스크롤 시 active */
.fix { position:fixed; animation: down 0.5s ease; top:0; width:100%; }

/* button */
.bottom-btn-wrap .btn-wrap button.btn-primary { color:var(--white); }
.btn-wrap .btn.btn-text-ico::after { content:""; display:inline-block; width:24px; height:24px; vertical-align:sub; }
.btn.btn-text-ico.arr::after { transform:rotate(270deg); background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='none' d='M845 491h-20v-20h20z' data-name='_격리_모드 %5BFrame Clip Content Mask%5D'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg fill='none' clip-path='url(%23a)' data-name='_격리_모드 (Clip Content)' transform='rotate(180 422.5 245.5)'%3E%3Cpath d='M845 491h-20v-20h20z' data-name='_격리_모드 %5BFrame Background%5D'/%3E%3Cpath d='M845 491h-20v-20h20Z' data-name='사각형 21754'/%3E%3Cpath d='M840 484h-10v-6h10Z'/%3E%3Cpath stroke='%23158CFC' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m831.15 483.14 3.99-3.99 3.99 3.99' data-name='icon arr'/%3E%3C/g%3E%3C/svg%3E"); }
.btn.btn-text-ico.reset::after { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23158cfc' d='M0 0h12.05v13.38H0z' data-name='사각형 18968'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg data-name='그룹 40892'%3E%3Cg clip-path='url(%23a)' data-name='그룹 40891' transform='translate(6.08 5.41)'%3E%3Cpath fill='%23158cfc' d='M9 2 6.02 0v1.33a6.02 6.02 0 1 0 5 2.66l-1.1.75a4.69 4.69 0 1 1-3.9-2.07v1.35Z' data-name='패스 45947'/%3E%3C/g%3E%3C/g%3E%3Cpath fill='none' d='M0 0h24v24H0z' data-name='사각형 18969'/%3E%3C/svg%3E"); }
.btn.btn-text-ico.reset { top:10px; }

/* filter */
.filter-btn { display:inline-block; padding:8px 12px 8px 20px; border:1px solid var(--focus); border-radius:24px; }
.filter-btn + .filter-btn { margin-left:20px; }
.filter-btn::after { content:""; display:inline-block; margin-left:8px; width:20px; height:20px; background:url("../images/close-ico.png")no-repeat center;vertical-align:sub; cursor:pointer; }

/************************ step ************************/
ul.step.icon li.car::after { background:url("../images/car_select.png")no-repeat 50%/50px; }
ul.step.icon li.car.on::after { background:url("../images/car_select_on.png")no-repeat 50%/50px; }
ul.step.icon li.car.pre::after { background:url("../images/car_select_end.png")no-repeat 50%/50px; }
ul.step.icon li.info::after { background:url("../images/info_text.png")no-repeat 50%/50px; }
ul.step.icon li.info.on::after { background:url("../images/info_text_on.png")no-repeat 50%/50px; }
ul.step.icon li.info.pre::after { background:url("../images/info_text_end.png")no-repeat 50%/50px; }
ul.step.icon li.esti::after { background:url("../images/estimate.png")no-repeat 50%/50px; }
ul.step.icon li.esti.on::after { background:url("../images/estimate_on.png")no-repeat 50%/50px; }
ul.step.icon li.esti.pre::after { background:url("../images/estimate_end.png")no-repeat 50%/50px; }
ul.step.icon li.view::after { background:url("../images/view_quotation.png")no-repeat 50%/50px; }
ul.step.icon li.view.on::after { background:url("../images/view_quotation_on.png")no-repeat 50%/50px; }
ul.step.icon li.view.pre::after { background:url("../images/view_quotation_end.png")no-repeat 50%/50px; }

/*****************************before*****************************/
.select-wrap .btn-select.pop.img::before { content:""; position:absolute; left:10px; top:50%; transform:translateY(-50%); display:inline-block; width:34px; height:22px;  }
.select-wrap .btn-select.pop.hd::before { background:url("../images/logo/domestic/hyundai.png")no-repeat; background-size:contain; }

/* 차량선택 */
.choose-wrap .choose-group { /*max-height:500px;*/ border-top:1px solid var(--title); border-bottom:1px solid var(--title); }
.choose-wrap .choose-group + .filter { margin-top:20px; }
.choose-wrap .choose-group + .filter + .label,
.choose-wrap .choose-group + .label { margin-top:30px; }

.choose-wrap .choose-group .brand { display:flex; padding:10px; gap:20px; }
.choose-wrap .choose-group .domestic { max-width:420px; border-right:1px solid var(--border); }
.choose-wrap .choose-group .brand ul li { display:inline-block; margin:10px;  max-width:60px; height:auto; }
.choose-wrap .choose-group ul li .logo { width:60px; height:40px; }
.choose-wrap .choose-group ul li .name { display: block;  font-size:var(--font-12); font-weight:var(--w-regular);  color:var(--subtitle); line-height: 18px; text-align: center; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

.contents-wrap .choose-wrap .txt-list-wrap { display:flex; }
.contents-wrap .choose-wrap .txt-list-wrap .txt-list { padding-bottom:20px; border-right:1px solid var(--border); }
.contents-wrap .choose-wrap .txt-list-wrap .txt-detail-area:last-child .txt-list { border-right:none; }
.contents-wrap .choose-wrap .txt-list-wrap .txt-list li { display:inline-block; margin: 20px 0 0 20px; }

/* 차량선택했을 때 */
.choose-wrap .choose-group ul li.on,
.model-wrap .model-group ul li.on { border:1px solid var(--focus); border-radius:5px; background-color:var(--secondary); }
.choose-wrap .choose-group ul li.on .name,
.model-wrap .model-group ul li.on .name { color:var(--focus); }

.contents-wrap .choose-wrap .choose-group .model-wrap { padding:5px 20px 20px; }
.model-wrap .model-group { padding-bottom:20px; }
.model-wrap .model-group + .model-group { border-top:1px solid var(--border); }
.model-wrap p.sub-title { padding:15px 0; font-weight:var(--w-bold); }
.model-wrap .model { padding:12px 23px 15px 22px; max-width:215px; text-align:center; }
.model-wrap .model .car { width:170px; height:auto; }
.model-wrap .model { display:inline-block; font-size:var(--font-14); font-weight:var(--w-regular); color:var(--subtitle); }
.model-wrap .model + .model { margin-left:20px; }